// May 2018

body {
	margin: 0 auto;
	width: 100%;
}

#content, #footer {
	margin-left: 100px;
	z-index: -100;
}

.index #content, .index #footer {
	margin-left: 0;
}

// containers that span XX% of the browser width
.bleed {
	margin: auto;
	width: 100%;
	position: relative;

	.half.right {
		width: 50%;
		position: absolute;
		right: 0;
	}

	.half.left {
		width: 50%;
		position: absolute;
		left: 0;
	}
}

.bleed, .bleed .half.right, .bleed .half.left {
	background-position: center center;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

	.half.right {
		width: 50%;
		position: absolute;
		right: 0;
	}

	.half.left {
		width: 50%;
		position: absolute;
		left: 0;
	}
}


// a simple container for use with packery
.container {
	margin: 0 auto;
}

// a more complicated container for css-only grids
.flex.container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: flex-start;
   align-items: flex-start;
	 -webkit-justify-content: center;
	 justify-content: center;
	 -webkit-flex-wrap: wrap;
	 flex-wrap: wrap;
	 margin: auto;
	 border: 0;
}

.flex.container.column {
  -webkit-flex-direction: column;
  flex-direction: column;
	height: 500px;
}

img {
	width: 100%;
	margin-bottom: -4px; // where does the four pixels come from?
}

// for mobile
@media only screen and (min-device-width: 320px) {

	.container {
		width: 100%;
	}

	.flex.container {
		.col-1 {
			width: 25%;
		}
		.col-2 {
			width: 50%;
		}

		.col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
			width: 100%;
		}
		.left-1, .left-2, .left-3, .left-4, .left-5, .left-6, .left-7, .left-8, .left-9, .left-10, .left-11 {
			margin-left: 0;
		}
		.right-1, .right-2, .right-3, .right-4, .right-5, .right-6, .right-7, .right-8, .right-9, .right-10, .right-11 {
			margin-right: 0;
		}
	}

	.padded { padding: 8px; }
	.extra-padded { padding: 8px 24px 8px 8px;}

	.module {
		height: 200px;
		padding-top: 40px;
		p { padding-bottom: 40px; }
	}
}

// for tablet
@media only screen and (min-device-width: 768px) {
	.container {
		$width: 720px;
		$col-width: $width/12;

		width: $width;
		.col-1 { width: $col-width; }
		.col-2 { width: $col-width*2; }
		.col-3 { width: $col-width*3; }
		.col-4 { width: $col-width*4; }
		.col-5 { width: $col-width*5; }
		.col-6 { width: $col-width*6; }
		.col-7 { width: $col-width*7; }
		.col-8 { width: $col-width*8; }
		.col-9 { width: $col-width*9; }
		.col-10 { width: $col-width*10; }
		.col-11 { width: $col-width*11; }
		.col-12 { width: $width; }
	}

	.flex.container {
		body { min-width: 820px; }

		$width: 720px;
		$col-width: $width/12;

		width: $width;
		.col-1 { width: $col-width; }
		.col-2 { width: $col-width*2; }
		.col-3 { width: $col-width*3; }
		.col-4 { width: $col-width*4; }
		.col-5 { width: $col-width*5; }
		.col-6 { width: $col-width*6; }
		.col-7 { width: $col-width*7; }
		.col-8 { width: $col-width*8; }
		.col-9 { width: $col-width*9; }
		.col-10 { width: $col-width*10; }
		.col-11 { width: $col-width*11; }
		.col-12 { width: $width; }

		.left-1 { margin-left: $col-width; }
		.left-2 { margin-left: $col-width*2; }
		.left-3 { margin-left: $col-width*3; }
		.left-4 { margin-left: $col-width*4; }
		.left-5 { margin-left: $col-width*5; }
		.left-6 { margin-left: $col-width*6; }
		.left-7 { margin-left: $col-width*7; }
		.left-8 { margin-left: $col-width*8; }
		.left-9 { margin-left: $col-width*9; }
		.left-10 { margin-left: $col-width*10; }
		.left-11 { margin-left: $col-width*11; }

		.right-1 { margin-right: $col-width; }
		.right-2 { margin-right: $col-width*2; }
		.right-3 { margin-right: $col-width*3; }
		.right-4 { margin-right: $col-width*4; }
		.right-5 { margin-right: $col-width*5; }
		.right-6 { margin-right: $col-width*6; }
		.right-7 { margin-right: $col-width*7; }
		.right-8 { margin-right: $col-width*8; }
		.right-9 { margin-right: $col-width*9; }
		.right-10 { margin-right: $col-width*10; }
		.right-11 { margin-right: $col-width*11; }
	}

	.module {
		height: 250px;
		padding-top: 50px;
		p { padding-bottom: 40px; }
	}
}

// for desktop
@media (min-width: 960px) {
	body { min-width: 1060px; }

	.container {
		$width: 960px;
		$col-width: $width/12;

		width: $width;
		.col-1 { width: $col-width; }
		.col-2 { width: $col-width*2; }
		.col-3 { width: $col-width*3; }
		.col-4 { width: $col-width*4; }
		.col-5 { width: $col-width*5; }
		.col-6 { width: $col-width*6; }
		.col-7 { width: $col-width*7; }
		.col-8 { width: $col-width*8; }
		.col-9 { width: $col-width*9; }
		.col-10 { width: $col-width*10; }
		.col-11 { width: $col-width*11; }
		.col-12 { width: $width; }
	}

	.flex.container {
		$width: 960px;
		$col-width: $width/12;

		width: $width;
		.col-1 { width: $col-width; }
		.col-2 { width: $col-width*2; }
		.col-3 { width: $col-width*3; }
		.col-4 { width: $col-width*4; }
		.col-5 { width: $col-width*5; }
		.col-6 { width: $col-width*6; }
		.col-7 { width: $col-width*7; }
		.col-8 { width: $col-width*8; }
		.col-9 { width: $col-width*9; }
		.col-10 { width: $col-width*10; }
		.col-11 { width: $col-width*11; }
		.col-12 { width: $width; }

		.left-1 { margin-left: $col-width; }
		.left-2 { margin-left: $col-width*2; }
		.left-3 { margin-left: $col-width*3; }
		.left-4 { margin-left: $col-width*4; }
		.left-5 { margin-left: $col-width*5; }
		.left-6 { margin-left: $col-width*6; }
		.left-7 { margin-left: $col-width*7; }
		.left-8 { margin-left: $col-width*8; }
		.left-9 { margin-left: $col-width*9; }
		.left-10 { margin-left: $col-width*10; }
		.left-11 { margin-left: $col-width*11; }

		.right-1 { margin-right: $col-width; }
		.right-2 { margin-right: $col-width*2; }
		.right-3 { margin-right: $col-width*3; }
		.right-4 { margin-right: $col-width*4; }
		.right-5 { margin-right: $col-width*5; }
		.right-6 { margin-right: $col-width*6; }
		.right-7 { margin-right: $col-width*7; }
		.right-8 { margin-right: $col-width*8; }
		.right-9 { margin-right: $col-width*9; }
		.right-10 { margin-right: $col-width*10; }
		.right-11 { margin-right: $col-width*11; }
	}

	.module {
		height: 320px;
		padding-top: 80px;
		p { padding-bottom: 40px; }
	}
}
