// May 2018

$light-violet:				#907FA5;
$violet:							#684D84;
$dark-violet:	  			#482968;
$darkest-violet:      #2A044C;

$light-mint:          #C2EFD1;
$mint:                #9BD3B7;
$dark-mint:           #76B7A1;
$darkest-mint:        #539B8F;

$black:               #000000;
$grey:                #808080;
$light-grey:          #E3E5E5;
$white:								#FFFFFF;

// additional color specifications

$overlay-background:  rgba(255, 255, 255, 0.9);
