// basic typography
// this document should not be edited
// ever

h1, h2, h3, h4, h5, p, ul, li, a {
	margin: 0;
	padding: 0;
	color: $warm-grey-90;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: 700;
	text-align: center;
}

h2 {
	font-weight: 300;
}

h3 {
	font-weight: 300;
}

h4 {
	font-weight: 600;
}

ul, li {
	list-style-type: none;
}

p {
	font-weight: 300;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, p {
	margin-top: 0;
}

// for mobile
@media only screen and (min-device-width: 320px) {
	h1 {
		font-size: 1.8em;
		line-height: 1.5em;
	}

	h2 {
		font-size: 1.2em;
		line-height: 1.4em;
	}

	h3 {
		font-size: 1.125em;
		line-height: 1.11em;
	}
	
	h4 {
		font-size: 1.2;
		line-height: 1.1;
	}

	p, li, ul, a {
		font-size: 1em;
		line-height: 1em;
	}
}

// for tablet
@media only screen and (min-device-width: 768px) {
	h1 {
		font-size: 1.8em;
		line-height: 1.5em;
	}

	h2 {
		font-size: 1.2em;
		line-height: 1.4em;
	}
	
	h3 {
		font-size: 1.4em;
		line-height: 1.2em;
	}
		
	h4 {
		font-size: 1.2;
		line-height: 1.1;
	}
	
	p, li, ul, a {
		font-size: 1em;
		line-height: 1.2em;
	}
}

// for desktop
@media only screen and (min-width: 960px) {
	h1 {
		font-size: 1.8em;
		line-height: 1.5em;
	}


	h2 {
		font-size: 1.2em;
		line-height: 1.2em;
	}

	h3 {
		font-size: 1.4em;
		line-height: 1.2em;
	}
	
	h4 {
		font-size: 1.2;
		line-height: 1.1;
	}
	
	p, li, ul, a {
		font-size: 1em;
		line-height: 1.2em;
	}
}