// May 2018

.extra-top { padding-top: 30px; }
.extra-bottom { padding-bottom: 30px; }

section#site-intro .bleed {
	padding-top: 120px;
	padding-bottom: 140px;
}

section#related-links {
	padding-top: 60px;
	padding-bottom: 60px;
}

section#gallery {
	margin-top: 40px;
	margin-bottom: 80px;
}

section#intro .padded {
	padding-top: 120px;
	padding-bottom: 140px;
}

section#related-links {
	h2, a { color: $darkest-violet; }
	a:hover { color: $dark-violet; }
}

ul.top-links { text-align: right; }

ul.top-links li {
	display: inline;
	padding-left: 20px;
	color: $white;
}

.top-links, .top-links a { color: $mint; }

.top-links a:hover { color: $light-mint; }

.intro {
	padding-bottom: 40px;
	color: $white;

	a { color: $mint; }
	a:hover { color: $light-mint; }
}

ul.bottom-links li { padding-bottom: 10px; }

.caption {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid $darkest-violet;
	border-bottom: 1px solid $darkest-violet;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bleed.darkest-violet {
	a.link-writing, a.link-art, a.link-thought, a.link-artificial {
		color: $light-mint;
	}
	a.link-writing:hover, a.link-art:hover, a.link-thought:hover, a.link-artificial:hover {
		color: $mint;
	}

}


// for header and footer elements
@media only screen and (min-device-width: 320px) {
	#header {
		top: -300px;
		height: 280px;
		padding-top: 20px;

		.flexcontainer {
			margin: 20px;
		}
	}
}

@media only screen and (min-device-width: 768px) {
	#header {
		top: -220px;
		height: 180px;
		padding-top: 40px;

		.flexcontainer {
			margin: auto;
		}
	}
}

#header {
	background-color: $dark-violet;
	position: fixed;
	left: 0;
	z-index: 102;
	width: 100%;

	h2 {
		color: $white;

		a {
			color: $white;
			font-weight: 700;
		}

		a:hover {
			color: $white;
		}
	}
}

.preview {
	height: 100px;
	padding-top: 250px;
}

.button {
	padding: 15px 30px;
	background-color: $white;
}

.bleed.darkest-violet { background-color: $darkest-violet; }
.bleed.dark-violet { background-color: $dark-violet; }
.bleed.violet { background-color: $violet; }
.bleed.light-violet { background-color: $light-violet; }

.bleed.darkest-mint { background-color: $darkest-mint; }
.bleed.light-mint { background-color: $light-mint; }

.bleed.light-grey { background-color: $light-grey; }
.bleed.white { background-color: $white; }

.bleed.darkest-violet, .bleed.dark-violet, .bleed.violet, .bleed.darkest-mint {
	p, a { color: $white; }
}

.bleed.light-mint, .bleed.light-violet, .bleed.light-grey, .bleed.white {
	p, a { color: $darkest-violet; }
}
