// basic typography
// this document should not be edited
// ever

h1, h2, h3, h4, p, ul, li, a {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	color: $darkest-violet;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p.intro, .extra-large, .description, .caption { font-weight: 300; }

p.intro a, .bottom-links a, .title { font-weight: 500; }

.name, .small-title, #footer a { font-weight: 700; }

ul, li { list-style-type: none; }

a { text-decoration: none; }

h1, h2, h3, h4, p { margin-top: 0; }

.extra-large { text-align: left; }
.centered { text-align: center; }


// for mobile
@media only screen and (min-device-width: 320px) {
	p.intro {
		font-size: 36px;
		line-height: 46px;
	}

	#footer p { font-size: 14px; }

	.extra-large { font-size: 80px; }
	.top-links { font-size: 14px; }
	.small-title, .description { font-size: 24px; }
	.bottom-links li a { font-size: 16px; }
	.caption { font-size: 18px; }
}

// for tablet
@media only screen and (min-device-width: 768px) {
	p.intro {
		font-size: 28px;
		line-height: 36px;
	}

	#footer p { font-size: 12px; }

	.extra-large { font-size: 60px; }
	.top-links, .caption { font-size: 12px; }
	.small-title, .description { font-size: 20px; }
	.bottom-links li a, .caption { font-size: 14px; }
	.caption { font-size: 14px; }
}

// for desktop
@media only screen and (min-width: 960px) {
	p.intro {
		font-size: 36px;
		line-height: 46px;
	}

	#footer p { font-size: 14px; }

	.extra-large { font-size: 80px; }
	.top-links, .caption { font-size: 14px; }
	.small-title, .description { font-size: 24px; }
	.bottom-links li a, .caption { font-size: 16px; }
	.caption { font-size: 18px; }
}
