// basic typography
// this document should not be edited
// ever

h1, h2, h3, h4, h5, p, ul, li, a {
	margin: 0;
	padding: 0;
	color: $black;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p.intro { font-weight: 300; }

.link-art, .link-writing, .link-opinions, .link-artificial { font-weight: 500; }


ul, li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, p {
	margin-top: 0;
}

// for mobile
@media only screen and (min-device-width: 320px) {
	p.intro {
		font-size: 36pt;
		line-height: 46pt;
	}
}

// for tablet
@media only screen and (min-device-width: 768px) {
	p.intro {
		font-size: 28pt;
		line-height: 36pt;
	}
}

// for desktop
@media only screen and (min-width: 960px) {
	p.intro {
		font-size: 36pt;
		line-height: 46pt;
	}
}
