// Base css

// top header
// mobile
@media only screen {
	
	#header {
		width: 100%;
		background-color: $cool-grey-90;
		
		#navigation {						
			background-color: $cool-grey-90;
		}
	}
}

// tablet and desktop
@media (min-device-width: 768px) {

	#header {
		height: inherit;
	}
}

// footer
// mobile
@media only screen {

	#footer {
		margin-top: 80px;
		width: 100%;
		display: block;
		
		.flexcontainer
		{
			border-top-width: 1px;
			border-top-style: solid;
		}
		
		p {
			font-size: .9em;
		}
		
		a {
			font-weight: 500;
		}
		
		#artificial {
			text-align: center;
			a {
				font-size: .9em;
				
				svg#Layer_1 {
					width: 100%;
				}
			}
		}	
		
		#about, #promo {
			border-top-width: 1px;
			border-top-style: solid;
		}	
	}
}

// tablet and desktop
@media (min-device-width: 768px) {

	#footer {
		
		#artificial {
			#artlogo {
				img {
					width: 100%;
				}
			}			
			
			p {
				display: block;
			}
		}		
		
		#about, #promo {
			padding-top: 60px;
			border: none;
		}	
	}
}


