// Base css

// top header

#header-home {
	background-color: $cool-grey-90;
	h2 {
		font-size: 1.8em;
	}
}

#navigation {
	h2 {
		color: $cool-grey-20;
		font-weight: 300;
		padding: 60px 0 60px 0;

		a {
			color: $cool-grey-10;
			font-weight: 600;
		}

		a:hover {
			color: $white;
		}
	}
}

// footer
// mobile
@media only screen {

	#footer {
		margin-top: 80px;
		padding: 40px 0 40px 0;
		width: 100%;
		display: block;
		background-color: $cool-grey-10;

		.flexcontainer

		p {
			font-size: .9em;
		}

		a {
			font-weight: 500;
		}

		#artificial {
			text-align: center;
			a {
				font-size: .9em;

				svg#Layer_1 {
					width: 100%;
				}
			}
		}

		#about, #promo {
			border-top-width: 1px;
			border-top-style: solid;
		}
	}
}

// tablet and desktop
@media (min-device-width: 768px) {

	#footer {

		#artificial {
			#artlogo {
				img {
					width: 100%;
				}
			}

			p {
				display: block;
			}
		}

		#about, #promo {
			padding-top: 60px;
			border: none;
		}
	}
}
