// Artificial base css
// May 2015
// This document should not be edited


// for header and footer elements
.padded-lr {
	padding: 10px 16px 10px 16px;
}

// top header
// mobile
@media only screen {
	#header {
		width: 100%;
		background-color: $darkest-grape;

		.topbar {
			border-top-width: 8px;
			border-top-style: solid;
		}
			
		#logo a h1 {
			text-align: left;
			color: $pale-turquoise;
			padding: 0;
			
			img {
				display: block;
				margin: 0 auto;
				width: auto;
			}
		}

		#navigation {						
			text-align: center;
				margin: 0 auto;
				padding: 10px 0 0 0;
	
				li {
					display: inline-block;
					margin: 0 10px 0 10px;

					a {
						text-decoration: none;
						font-weight: 500;
						font-size: .9em;
						color: $pale-grape;	
					}
					a:hover {
						color: $cool-grey-40;	
				}				
			}
		}
	}
}

// tablet and desktop
@media (min-device-width: 768px) {
	#header {
		height: inherit;

		#logo {
			text-align: left;
			
			img {
				margin-left: 0;
			}
		}

		#nav-primary {	
			ul {
				float: right;
				padding-top: 14px;
		
				li {
					float: left;
					margin-left: 20px;
				}
			}
		}
	}

	#underheader {
		height: 68px;
	}	
	
	#nav-secondary {
		
		ul {		
			text-align: center;
			margin: 0 auto;
			padding: 0;
	
			li {
				float: left;
				margin: 0 20px 0 0;
			}
		}	
	}
}

// side header
// mobile
@media only screen {
	#header-side {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;

		.topbar {
			border-top-width: 8px;
			border-top-style: solid;
		}
		
		.flexcontainer {
	    display: none;
		}
	}	
}

// tablet and desktop
@media (min-device-width: 768px) {
	#header-side {
		.flexcontainer {
			display: block;
	    -webkit-justify-content: flex-start;
	    justify-content: flex-start;
			height: 0;
			
			.iconlist {				
				ul {
					padding-left: 0;
				}
			}			
		}
	}	
}

// footer
// mobile
@media only screen {

	#footer {
		width: 100%;
		display: block;
		
		.flexcontainer
		{
			border-top-width: 1px;
			border-top-style: solid;
		}
		
		p {
			font-size: .9em;
		}
		
		a {
			font-weight: 500;
		}
		
		#artificial {
			text-align: center;
			a {
				font-size: .9em;
				
				svg#Layer_1 {
					width: 100%;
				}
			}
		}	
		
		#about, #promo {
			border-top-width: 1px;
			border-top-style: solid;
		}	
	}
}

// tablet and desktop
@media (min-device-width: 768px) {

	#footer {
		height: 320px;
		
		#artificial {
			#artlogo {
				img {
					width: 100%;
				}
			}			
			
			p {
				display: block;
			}
		}		
		
		#about, #promo {
			padding-top: 60px;
			border: none;
		}	
	}
}

// eversearch
#oncall {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 200;

	.search {
		margin: 0 auto;
		margin-top: 25%;
	}	
}

// forms and fields
.search {
	outline: none;
	width: 100%;
	
	input {
		padding: 0;
		background-color: inherit;
		border: none;
		margin: 15px;
		outline: none;
		height: 30px;
		width: calc(100% - 96px);
	}
	
	.button {
		height: 60px;
		width: 60px;
		padding: 0;
		float: right;	
		margin: 0;
		
		input {
			display: none;
		}
		
	}
}

.field {
	outline: none;
	width: 100%;
	
	input, textarea {
		background-color: inherit;
		border: none;
		margin: 15px;
		outline: none;
		width: calc(100% - 36px);
	}
	
	input { 
		height: 30px; 
	}
	
	textarea { 
		height: 90px;
		resize: none; 
	}
	
}

.check, .radio {
	width: 100%;

	input {
		margin-right: 15px;
		margin-bottom: 10px;
	}
}
	
.button {
	height: 60px;
	width: 100%;
	padding: 0;
}

// dropdown select

.selection {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
	 width: 100%;
	 padding: 20px;
	 outline: none;
}


.dropdown-menu {
	ul {
		background-color: inherit;
		border: none;
		height: 30px;
		margin: 0;
		padding: 0;
		
		li {
			width: 100%;
			position:relative;
			float:left;
			margin:0;
			padding:0;
			
			a {
				margin: 15px;
				height: 30px;
				line-height: 30px;
				display: block;
			}
			
			ul {
				width: 100%;
				z-index: 50;
				display:none;
				position:absolute;
				height: inherit;
				overflow: hidden;
				
				li {
					width: 100%;
					
					a {
						margin: 0px;
						padding: 5px 15px 5px 15px;
					}
				}
			}
		}
		
		li:hover
		{
			ul {
				display:block
			}
		}
	}
}	


