// Base css


// footer
// mobile
@media only screen {

	#footer {
		margin-top: 80px;
		padding: 40px 0 40px 0;
		width: 100%;
		display: block;
		background-color: $cool-grey-10;

		.flexcontainer

		p {
			font-size: .9em;
		}

		a {
			font-weight: 500;
		}

		#artificial {
			text-align: center;
			a {
				font-size: .9em;

				svg#Layer_1 {
					width: 100%;
				}
			}
		}

		#about, #promo {
			border-top-width: 1px;
			border-top-style: solid;
		}
	}
}

// tablet and desktop
@media (min-device-width: 768px) {

	#footer {

		#artificial {
			#artlogo {
				img {
					width: 100%;
				}
			}

			p {
				display: block;
			}
		}

		#about, #promo {
			padding-top: 60px;
			border: none;
		}
	}
}
