// Shannon's brand palette
// April 2018

$lightest-violet:     #76207F;
$light-violet:				#611172;
$violet:							#460A66;
$dark-violet:	  			#2A044C;
$darkest-violet:      #190033;

$lightest-poppy:      #FF9166;
$light-poppy:         #FF774D;
$poppy:							  #F25A3D;
$dark-poppy:	  			#E53A2E;
$darkest-poppy:       #CC1F1F;

$lightest-dandelion:  #FFE499;
$light-dandelion:     #FFDA66;
$dandelion:						#F4C74A;
$dark-dandelion:	  	#EAAF3B;
$darkest-dandelion:   #E09F2D;

$lightest-bluebell:   #A4EAD8;
$light-bluebell:      #82D8CA;
$bluebell:						#6DC6BD;
$dark-bluebell:	  	  #59B2B2;
$darkest-bluebell:    #4A9FA5;

$black:               #000000;
$grey:                #808080;
$light-grey:          #E3E5E5;
$white:								#FFFFFF;

// additional color specifications

$overlay-background:  rgba(255, 255, 255, 0.9);
