// for header and footer elements

#header {
	position: fixed;
	top: -150px;
	left: 0;
	z-index: 102;
	width: 100%;
	height: 150px;

	background-color: #000000;
	color: #EEEEEE;
}
#header * {
	color: #AAAAAA;
}
#header A {
	color: #EEEEEE;
}

#header.open {
	top: 0;
}

#header .trigger {
	position: absolute;
	bottom: -60px; /* "margin" + height */
	left: 10px; /* "margin" */
	margin: 0px;
	z-index: 101;
	width: 50px;
	height: 50px;

	background-color: #000000;
	color: #FFFFFF;
}

#header .trigger {
	background-image: url('/images/ic_open.svg');
}
#header.open .trigger {
	background-image: url('/images/ic_close.svg');
}

#header {
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	transition: top 0.3s ease;
}

// content
#content {
	background-color: $white;
}

.preview {
	padding: 60px 0 60px 0;
	position: relative;

	p {
		padding-top: 20px;
	}

	a.button {
		background-color: $cool-grey-80;
		color: $white;
		padding: 10px 30px 10px 30px;
		margin-top: 30px;
		display: inline-block;
	}
	a.button:hover {
		background-color: $cool-grey-70;
	}
}

.dark {
	background-color: $cool-grey-10;
	width: 100%;
}

.overlay {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-image: -webkit-gradient(
	  linear, left top, left bottom,
		from(rgba(0,0,0,0.0)),
	  to(rgba(0,0,0,0.75))
	);

	p {
			color: $white;
	}

	a.button {
		background-color: $white;
		color: $cool-grey-80;
	}
	a.button:hover {
		background-color: $cool-grey-10;
	}
}

.centered {
	text-align: center;
}

// footer

// mobile, tablet, and desktop
@media only screen {

	#footer {
		background-color: $white;

		.flexcontainer
		{
			border-top-color: $warm-grey-20;
		}
		h3, h4, p {
			color: $warm-grey-90;
		}
			a {
			color: $turquoise;
		}
		a:hover {
			color: $dark-turquoise;
		}
	}
}
