// for header and footer elements

// top header
// mobile
@media only screen {
	.preview {
		p {
			text-align: center;
		}
		a.button {
			text-align: center;
			background-color: $cool-grey-80;
			color: $white;
			padding: 10px 30px 10px 30px;
		}
		a.button:hover {
			background-color: $cool-grey-70;
		}
	}
	
	#underheader {
		background-color: $white;
		background: URL("../images/balloon.png") center no-repeat;
	}
	
	#nav-secondary {
		border-bottom-color: $warm-grey-20;
	
		ul {		
			li {
				a {
					color: $warm-grey-30;
				}		
				a:hover {
					color: $warm-grey-40;
				}
			}
		}	
	}
}

// side header
// mobile, tablet, and desktop
@media only screen {
	#header-side {
		.flexcontainer {
			li {
				margin: 40px 0 0 0;
				
				a {
					opacity: 0.4;
				}
				
				a:hover {
					opacity: 1.0;
				}
			}
		}
	}	
}

// content
#content {
	background-color: $white;
}

.card {
	background-color: $warm-grey-10;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

// footer

// mobile, tablet, and desktop
@media only screen {

	#footer {
		background-color: $white;
		
		.flexcontainer
		{
			border-top-color: $warm-grey-20;
		}
		h3, h4, p {
			color: $warm-grey-90;
		}
			a {
			color: $turquoise;
		}
		a:hover {
			color: $dark-turquoise;
		}
	}
}



