// for header and footer elements

// content
#content {
	background-color: $white;
}

.preview {
	padding: 60px 0 60px 0;
	position: relative;
	
	p {
		padding-top: 20px;
	}
	
	a.button {
		background-color: $cool-grey-80;
		color: $white;
		padding: 10px 30px 10px 30px;
		margin-top: 30px;
		display: inline-block;
	}
	a.button:hover {
		background-color: $cool-grey-70;
	}
}

.dark {
	background-color: $cool-grey-10;
	width: 100%;
}

.overlay {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-image: -webkit-gradient(
	  linear, left top, left bottom, 
		from(rgba(0,0,0,0.0)),
	  to(rgba(0,0,0,0.75))
	);
	
	p {
			color: $white;	
	}	
	
	a.button {
		background-color: $white;
		color: $cool-grey-80;
	}
	a.button:hover {
		background-color: $cool-grey-10;
	}
}

.centered {
	text-align: center;
}

// footer

// mobile, tablet, and desktop
@media only screen {

	#footer {
		background-color: $white;
		
		.flexcontainer
		{
			border-top-color: $warm-grey-20;
		}
		h3, h4, p {
			color: $warm-grey-90;
		}
			a {
			color: $turquoise;
		}
		a:hover {
			color: $dark-turquoise;
		}
	}
}



