<% wrap_layout :site_layout do %>

	<nav id="header">
		
		<div class="flexcontainer">
			<div id="navigation" class="col-12">
				<div class="padded">
						<h2>Hello, I’m Shannon E. Thomas. I love to <a href="paintings.html">paint and draw</a>. I don’t go anywhere without my <a href="sketches.html">sketchbook</a>. In 2013, I founded <a href="http://www.theartificial.nl">The Artificial</a>, a boutique UX agency in Amsterdam. I am surrounded by <a href="people.html">people</a> who keep me motivated and inspired. Want to see more? I’m all over <a href="elsewhere.html">the internet</a>.</h2>
				</div>
			</div>
		</div>	
	
	</nav>
		

<%= yield %>
<% end %>
