<% wrap_layout :site_layout do %>

	<nav id="header">
		
		<div class="flexcontainer">
			<div id="logo" class="col-12">
				<div class="padded">
					
					<a href="index.html"><h1>shannon e. thomas</h1></a>
					
					<ul id ="navigation">
						<li><a href="subnav.html">series</a></li>
						<li><a href="subnav-square.html">blog</a></li>
						<li><a href="subnav-cards.html">archive</a></li>
					</ul>
					
				</div>
			</div>
		</div>	
	</nav>
		

<%= yield %>
<% end %>
