<% content_for :custom_page_classes, "thought" %>
<% wrap_layout :navigation_layout do %>
<div id="content">
	<section id="main">
		<div class="flex container">
			<div class="col-10 left-1 right-1">
				<div class="card padded module h-entry">
          <div class="meta">
            <time class="dt-published" datetime="<%= current_page.date.strftime("%F") %>"><%= current_page.date.strftime("%B %e, %Y, %k:%M") %></time>
          </div>
          <div class="content e-content">
            <%= yield %>
          </div>
				</div>
			</div>
		</div>
  </section>
</div>
<% end %>
