---
title: Everyone We Know
hero: ../images/everyone/cover.jpg
layout: series
navigation: sketches
---

<div class="half">
  <p><span class="dropcap">T</span>he Sketckbook Project is a traveling tour of sketchbooks. “Everyone We Know” is the first sketchbook I completed for the annual project. Using ink and markers, I filled the small moleskine with drawings of faces I’d see on the street or in my imagination.</p>      
  <img src="../images/everyone/01.jpg">
  <img src="../images/everyone/02.jpg">
  <img src="../images/everyone/03.jpg">  
  <img src="../images/everyone/04.jpg">  
  <img src="../images/everyone/05.jpg">  
  <img src="../images/everyone/06.jpg">  
  <img src="../images/everyone/07.jpg">  
  <img src="../images/everyone/08.jpg">    
</div>

<div class="half">   
  <img src="../images/everyone/10.jpg">
  <img src="../images/everyone/12.jpg">  
  <img src="../images/everyone/13.jpg">  
  <img src="../images/everyone/14.jpg">
  <img src="../images/everyone/15.jpg">
  <img src="../images/everyone/16.jpg">  
  <img src="../images/everyone/17.jpg">  
  <img src="../images/everyone/18.jpg"> 
  <img src="../images/everyone/09.jpg">  
</div>