---
title: An archive of beautiful things by Shannon E. Thomas  
layout: index
navigation: artworks
---

<div class="series">
  <a href="stories.html"><h1>Stories</h1></a>    
  <a href="stories.html"><img src="../images/thumb/stories_01.jpg"></a>     
  <a href="stories.html"><img src="../images/thumb/stories_02.jpg"></a>     
  <a href="stories.html"><img src="../images/thumb/stories_03.jpg"></a>     
  <a href="stories.html"><img src="../images/thumb/stories_04.jpg"></a>     
</div>

<div class="series">
  <a href="2012.html"><h1>Paintings and Drawings from 2012</h1></a>    
  <a href="2012.html"><img src="../images/thumb/2012_01.jpg"></a>    
  <a href="2012.html"><img src="../images/thumb/2012_02.jpg"></a>    
  <a href="2012.html"><img src="../images/thumb/2012_03.jpg"></a>    
  <a href="2012.html"><img src="../images/thumb/2012_04.jpg"></a>     
</div>

<div class="series">
  <a href="zookeeper.html"><h1>The Zookeeper's Daughters</h1></a>    
   <a href="zookeeper.html"><img src="../images/thumb/zookeeper_01.jpg"></a>      
   <a href="zookeeper.html"><img src="../images/thumb/zookeeper_02.jpg"></a>      
   <a href="zookeeper.html"><img src="../images/thumb/zookeeper_03.jpg"></a>     
</div>

<div class="series">
  <a href="midnight.html"><h1>Midnight in the Garden</h1></a>    
  <a href="midnight.html"><img src="../images/thumb/midnight_01.jpg"></a>      
  <a href="midnight.html"><img src="../images/thumb/midnight_02.jpg"></a>      
  <a href="midnight.html"><img src="../images/thumb/midnight_03.jpg"></a>      
  <a href="midnight.html"><img src="../images/thumb/midnight_04.jpg"></a>     
</div>

<div class="series">
  <a href="lookingglass.html"><h1>Through the Looking Glass</h1></a>    
  <a href="lookingglass.html"><img src="../images/thumb/lookingglass_01.jpg"></a>       
  <a href="lookingglass.html"><img src="../images/thumb/lookingglass_02.jpg"></a>       
  <a href="lookingglass.html"><img src="../images/thumb/lookingglass_03.jpg"></a>       
  <a href="lookingglass.html"><img src="../images/thumb/lookingglass_04.jpg"></a>     
</div>

<div class="series">
  <a href="treehouse.html"><h1>The Treehouse Club</h1></a>    
  <a href="treehouse.html"><img src="../images/thumb/treehouse_01.jpg"></a>       
  <a href="treehouse.html"><img src="../images/thumb/treehouse_02.jpg"></a>       
  <a href="treehouse.html"><img src="../images/thumb/treehouse_03.jpg"></a>       
  <a href="treehouse.html"><img src="../images/thumb/treehouse_04.jpg"></a>     
</div>

<div class="series">
  <a href="whiteknight.html"><h1>Without the White Knight</h1></a>    
  <a href="whiteknight.html"><img src="../images/thumb/whiteknight_01.jpg"></a>       
  <a href="whiteknight.html"><img src="../images/thumb/whiteknight_02.jpg"></a>       
  <a href="whiteknight.html"><img src="../images/thumb/whiteknight_03.jpg"></a>       
  <a href="whiteknight.html"><img src="../images/thumb/whiteknight_04.jpg"></a>     
</div>

<div class="series">
  <a href="redshoes.html"><h1>The Tragedy Red Shoes</h1></a>    
  <a href="redshoes.html"><img src="../images/thumb/redshoes_01.jpg"></a>      
  <a href="redshoes.html"><img src="../images/thumb/redshoes_02.jpg"></a>      
  <a href="redshoes.html"><img src="../images/thumb/redshoes_03.jpg"></a>      
  <a href="redshoes.html"><img src="../images/thumb/redshoes_04.jpg"></a>     
</div>     

<div class="series">
  <a href="princess.html"><h1>The Princess and the Media</h1></a>    
  <a href="princess.html"><img src="../images/thumb/princess_01.jpg"></a>      
  <a href="princess.html"><img src="../images/thumb/princess_02.jpg"></a>      
  <a href="princess.html"><img src="../images/thumb/princess_03.jpg"></a>      
  <a href="princess.html"><img src="../images/thumb/princess_04.jpg"></a>     
</div>    
