---
title: Through the Looking Glass
hero: ../images/lookingglass/sleepingqueens.jpg
layout: series
navigation: artworks
---

<div class="half">
  <p><span class="dropcap">T</span>hrough the Looking Glass is a series of charcoal drawings on 24”x24” panels. each drawing depicts a scene from Lewis Carroll’s ‘through the looking glass’, focusing on alice and her interaction with the looking-glass world. 
</p>      
  <img src="../images/lookingglass/thecryingpawn.jpg">
  <img src="../images/lookingglass/breadandbutterflies.jpg">
  <img src="../images/lookingglass/thedisheveledqueen.jpg"> 
  <img src="../images/lookingglass/humptydumpty.jpg">  
  <img src="../images/lookingglass/themessenger.jpg">  
  <img src="../images/lookingglass/battleoftheknights.jpg"> 
  <img src="../images/lookingglass/sleepingqueens.jpg">  
  <img src="../images/lookingglass/shakingandwaking.jpg">      
</div>

<div class="half">
  <img src="../images/lookingglass/thelookingglassworld.jpg">
  <img src="../images/lookingglass/awalkinthegarden.jpg">
  <img src="../images/lookingglass/tweedlesdumanddee.jpg">
  <img src="../images/lookingglass/aliceandthesheep.jpg">
  <img src="../images/lookingglass/allthekingsmen.jpg">
  <img src="../images/lookingglass/cuttingthecake.jpg">
  <img src="../images/lookingglass/aliceearnshercrown.jpg">
  <img src="../images/lookingglass/averyoldfrog.jpg">
</div>