---
title: Sketchbook Selections
hero: ../images/sketchbook/background.jpg
layout: series
navigation: sketches
---

<div class="half">
  <p><span class="dropcap">S</span>ince university, I’ve made a habit of carrying around a sketchbook, and filling them at a pace of two or three a year. I sketch designs, paintings, drawings, layouts, anything I see, and anything I might imagine.</p>      
  <img src="../images/sketchbook/01.jpg">
  <img src="../images/sketchbook/02.jpg">
  <img src="../images/sketchbook/03.jpg">  
  <img src="../images/sketchbook/04.jpg">  
  <img src="../images/sketchbook/05.jpg">  
  <img src="../images/sketchbook/06.jpg">  
  <img src="../images/sketchbook/07.jpg">  
  <img src="../images/sketchbook/08.jpg">  
  <img src="../images/sketchbook/09.jpg">  
  <img src="../images/sketchbook/10.jpg">
  <img src="../images/sketchbook/22.jpg">    
  <img src="../images/sketchbook/11.jpg">     
</div>

<div class="half"> 
  <img src="../images/sketchbook/12.jpg">  
  <img src="../images/sketchbook/13.jpg">  
  <img src="../images/sketchbook/14.jpg"> 
  <img src="../images/sketchbook/14.jpg">
  <img src="../images/sketchbook/15.jpg">
  <img src="../images/sketchbook/16.jpg">  
  <img src="../images/sketchbook/17.jpg">  
  <img src="../images/sketchbook/18.jpg">  
  <img src="../images/sketchbook/19.jpg">  
  <img src="../images/sketchbook/20.jpg">  
  <img src="../images/sketchbook/21.jpg"> 
  <img src="../images/sketchbook/23.jpg">
</div>