---
title: Stories about Women
hero: ../images/stories/shefellintoballoons.jpg
layout: series
navigation: artworks
---

<div class="half">
  <p><span class="dropcap">E</span>ach subject has her own story, and every audience has theirs. This series plays in the intersection of our observations and our assumptions, weaving a story that is both that of the character and the viewer. A girl buries a lotus blossom, a symbol of creativity. A feathered woman stands amidst rubber duckies. A child queen plays with toy soldiers. A girl lies surrounded by red balloons. A woman holds a piece of peeling wallpaper. Each scene establishes the character, setting, and to some extent conflict, but the plot is left for the curious viewer to determine.</p>      
  <img src="../images/stories/sheburiedthelotus.jpg">
  <img src="../images/stories/sheswamamongstducklings.jpg">
  <img src="../images/stories/shefellintoballoons.jpg">     
</div>

<div class="half">
  <img src="../images/stories/sheplannedawar.jpg">
  <img src="../images/stories/shewaitedinthedaisies.jpg">
  <img src="../images/stories/shepeeledoffthewallpaper.jpg">
</div>