---
title: Without the White Knight
hero: ../images/whiteknight/persephone.jpg
layout: series
navigation: artworks
---

<div class="half">
  <p><span class="dropcap">W</span>ithout the White Knight tells the story of princess whose knights went missing. The women of fairy tales grow old in their towers, forever awaiting the arrival of their princes. The paintings challenge the misguided nature of the fairy tales we tell our young girls, and serve as a warning to those who’d wait to be saved by some prince charming. </p>      
  <img src="../images/whiteknight/lightprincess.jpg">
  <img src="../images/whiteknight/lilith.jpg">
  <img src="../images/whiteknight/littlemermaid.jpg">
  <img src="../images/whiteknight/snowwhite.jpg"> 
  <img src="../images/whiteknight/millersdaughter.jpg">  
  <img src="../images/whiteknight/peony.jpg"> 
</div>

<div class="half">
  <img src="../images/whiteknight/swanprincess.jpg">
  <img src="../images/whiteknight/persephone.jpg">
  <img src="../images/whiteknight/rapunzel.jpg">
  <img src="../images/whiteknight/sevensisters.jpg"> 
  <img src="../images/whiteknight/maidmarian.jpg">
  <img src="../images/whiteknight/snowwhiterosered.jpg">
</div>