---
layout: navigation_layout
---

<!-- page content -->
<div id="content">
	<div class="flexcontainer">
		<div class="col-8">
			<div class="centered description">
				<h1>Paintings from 2012</h1>
				<p>These pieces have no cohesive theme. Each piece is it's own dream-like expression, taken more from my whimsical sketchings than from months of research and inspiration collection. Despite their explorative nature, the pieces were worked simultaneously, and they all fit nicely together as a series.</p>
			</div>
		</div>
	</div>

	<div class="container packery">
		<div class="col-6 packed">
			<div class="padded">
  			<img src="/images/2012/daisy.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
  				<img src="/images/2012/scarlet.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="padded">
				<img src="/images/2012/coscoroba.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="padded">
				<img src="/images/2012/cephalie.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="padded">
				<img src="/images/2012/dayea.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="padded"> 
				<img src="/images/2012/godiva.jpg">
				</div>
		</div>
	</div>
</div>
