---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<div class="bleed light-grey">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<h1 class="title">Future Present</h1>
						<p class="description">My current work in progress, Future Present combines classic art with contemporary themes and technologies. These works juxtapose multiple ideas of normal, and force us to consider the decisions we've made to enable a particular future.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gallery">
		<div class="container packery">
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/futurepresent/censored_02.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/futurepresent/susana_03.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
					<img src="/images/futurepresent/facemask_02.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/futurepresent/danae_01.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
					<img src="/images/futurepresent/grazing_02.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
					<img src="/images/futurepresent/monoculture_02.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/futurepresent/rayban_01.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/futurepresent/thetempest_02.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/futurepresent/babel_01.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/futurepresent/birth_01.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/futurepresent/slugs_01.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/futurepresent/unknown_01.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/futurepresent/swan_02.jpg">
				</div>
			</div>
		</div>
	</section>
</div>
