---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<div class="bleed light-grey">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<h1 class="title">Midnight in the Garden</h1>
						<p class="description">The ‘Midnight in the Garden’ series is twelve paintings, seventeen figures, and countless patterns. the paintings focus on the dichotomy of good and evil as defined by religion, mythology and contemporary faerie tales. while defined primarily by the seven deadly sins and their countering heavenly virtues, symbols of the saints, biblical references, and allusions to the debaucherous dionysus reinforce the subjects in their representation of either good or evil. as with all of my works, i expect the audience to do more than absorb the image. i hope for a connection where the viewer cannot help but feel compassion for the vilified and skepticism of the exalted, for as clearly as mythology has defined our notions of good and evil, rarely do we perceive things so simply.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gallery">
		<div class="container packery">
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/midnight/envy.jpg">
					</div>
				</div>
				<div class="col-6 packed">
					<div class="padded">
	  				<img src="/images/midnight/generosity.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
					<img src="/images/midnight/gluttony.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
					<img src="/images/midnight/sloth.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/midnight/lust.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/midnight/wrath.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/midnight/purity.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/midnight/piety.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/midnight/greed.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/midnight/temperance.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/midnight/vanity.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/midnight/patience.jpg">
				</div>
			</div>
		</div>
	</section>
</div>
