---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<div class="bleed light-grey">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<h1 class="title">The Princess and the Media</h1>
						<p class="description">My B.F.A. thesis show, the princess and the media featured fourteen paintings with accompanying poems. The series was the first of many to explore the relationships between traditional and contemporary myth, with characters from biblical, Shakespearean, or folk-lorean legends, placed in contemporary clothing with contemporary props in contemporary settings.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gallery">
		<div class="container packery">
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/princess/clevertemptress.jpg">
					</div>
				</div>
				<div class="col-6 packed">
					<div class="padded">
	  				<img src="/images/princess/fearlessdaredevil.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
					<img src="/images/princess/beautifulinsomniac.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
					<img src="/images/princess/redridinghood.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/princess/unassumingbather.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/princess/waitingwoman.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/princess/bluefaerie.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/princess/eternalsleeper.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/princess/mischievousbride.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/princess/ragdollprincess.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="padded">
	  			<img src="/images/princess/tragiclover.jpg">
				</div>
			</div>
		</div>
	</section>
</div>
