---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<div class="bleed light-grey">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<h1 class="title">The Tragedy of the Red Shoes</h1>
						<p class="description">Seven large-scale drawings illustrate Hans Christian Anderson’s fairy tale, ‘The Red Shoes’. Each drawing focuses on the emotional state of the young girl, as she goes from wanting to having to losing her free will for the red shoes she so desires.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gallery">
		<div class="container packery">
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/redshoes/acquisition.jpg">
					</div>
				</div>
				<div class="col-6 packed">
					<div class="card padded">
	  				<img src="/images/redshoes/infatuation.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
					<img src="/images/redshoes/agony.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
					<img src="/images/redshoes/desire.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/redshoes/admiration.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/redshoes/suffering.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/redshoes/surrender.jpg">
				</div>
			</div>
		</div>
	</section>
</div>
