---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<div class="bleed light-grey">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<h1 class="title">Short Stories</h1>
						<p class="description">Each subject has her own story, and every audience has theirs. This series plays in the intersection of our observations and our assumptions, weaving a story that is both that of the character and the viewer. A girl buries a lotus blossom, a symbol of creativity. A feathered woman stands amidst rubber duckies. A child queen plays with toy soldiers. A girl lies surrounded by red balloons. A woman holds a piece of peeling wallpaper. Each scene establishes the character, setting, and to some extent conflict, but the plot is left for the curious viewer to determine.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gallery">
		<div class="container packery">
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/stories/sheburiedthelotus.jpg">
					</div>
				</div>
				<div class="col-6 packed">
					<div class="card padded">
	  				<img src="/images/stories/sheswamamongstducklings.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
					<img src="/images/stories/shefellintoballoons.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
					<img src="/images/stories/sheplannedawar.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/stories/shewaitedinthedaisies.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/stories/shepeeledoffthewallpaper.jpg">
				</div>
			</div>
		</div>
	</gallery>
</div>
