---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<div class="bleed light-grey">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<h1 class="title">The Cave</h1>
						<p class="description">Plato's Allegory of the Cave told in two stories through an illustrated alphabet.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gallery">
		<div class="flex container">
			<div class=" left-1 col-5">
				<div class="padded">
	  			<img src="images/the-cave/a.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sombra is an Allegorian. Allegorians live deep within the earth in a never-ending network of caves.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/b.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sol is a Hemelite. The Hemelite tribe flies above the earth in magnificent balloons.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/c.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Allegorians have everything they need beneath the earth. They have no reason to leave their caves, and so they never do.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/d.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Hemelites are nomadic. They travel the earth, seeking new knowledge.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/e.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">The Allegorians often see strange shadows cast on the ground of their caves. They give these shadows names, but never look to see what it is that casts them.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/f.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">On a Hemelite’s 16th birthday, it is tradition for her to travel the world on a quest of discovery and self-discovery.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/g.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">While the rest of Sombra’s tribe is alright making up names for the shadows they do not understand, Sombra needs something more.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/h.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">With 16 years behind her, Sol sets off in her little balloon. She floats past the forests of her childhood.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/i.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sombra makes his way through the caves, always choosing the path that goes up. He doesn’t know why, but somehow he feels this is where he will find answers.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/j.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">The landscape changes, and Sol recognizes less and less.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/k.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">The path is long and winding, but Sombra’s curiosity drives him forward.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/l.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">After weeks in the air, Sol sees a strange canyon. She wonders about the mysteries within.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/m.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sol floats into the darkness, wondering if any of her people have explored these caves before her.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/n.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">At last, Sombra sees something new. Light! His eyes slowly adjust as he climbs upward.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/o.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sol studies the landscape beneath her. It becomes more and more alien.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/p.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">At last Sombra emerges fully emerges from the caves. He looks around him – there are so many new sights to see!</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/q.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">At last, Sol sees a place to land her balloon. She lowers herself onto a strange island and follows the path.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/r.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sombra follows the path from his cave. He walks without expectation, but not without purpose.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/s.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">The path twists and turns as Sol follows it deeper and deeper.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/t.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sombra sees the balloons of the Hemelites floating by and decides to follow them.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/u.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sol begins to notice human-made structures, and wonders who lives in this deep, dark place.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/v.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sombra follows the balloons over mountains and through valleys.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/w.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">As Sol walks she hears voices, but sees no one.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/x.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">At last, Sombra’s path converges with the strange tribe of balloon-flying folk.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/y.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">At last, Sol meets the Allegorians. She greets them with excitement. They arrest her without question.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/z.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">The Hemelites listen to Sombra's stories. They welcome him to their tribe. They give him his own balloon.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/0.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">The Allegorians lead Sol deeper and deeper. She takes a last glimpse up to the sky above the caves and sees her people floating overhead.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/1.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">From his balloon, Sombra can see the many curiosities of the landscape, and how when touched by light, they make shadow.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/2.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sol tries to tell her story, but nobody listens. They only lead her deeper and deeper into the caves.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/3.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sombra learns about so much more than just shadows. He learns about reflections.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/4.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">The guards escort Sol deeper into the caves. She sees fewer and fewer people, and as the light fades, Sol loses all hope.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/5.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sombra sees how plants grow, and how they bend their leaves to face the light.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/6.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">The Allegorians lead Sol down and down and down, into the pit.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/7.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">The more Sombra learns, the more he hopes to discover.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/8.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">The Allegorians leave Sol alone in the pit. This is where her story ends.</p>
				</div>
			</div>

			<div class=" left-1 col-5">
				<div class="padded">
					<img src="images/the-cave/9.png">
				</div>
			</div>
			<div class="left-1 col-4 right-1">
				<div class="padded">
					<p class="caption">Sometimes, Sombra will see a crack leading down into the deep, and he wonders why his people never wondered.</p>
				</div>
			</div>

		</div>
	</section>
</div>
