---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<div class="bleed light-grey">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<h1 class="title">Through the Looking Glass</h1>
						<p class="description">Through the Looking Glass is a series of charcoal drawings on 24”x24” panels. Each drawing depicts a scene from Lewis Carroll’s ‘Through the Looking Glass’, focusing on Alice and her interaction with the looking-glass world.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gallery">
		<div class="flex container">
			<div class="col-4">
				<div class="padded">
	  			<img src="/images/lookingglass/thecryingpawn.jpg">
					</div>
				</div>
				<div class="col-4">
					<div class="padded">
	  				<img src="/images/lookingglass/breadandbutterflies.jpg">
					</div>
				</div>
				<div class="col-4">
					<div class="padded">
						<img src="/images/lookingglass/thedisheveledqueen.jpg">
					</div>
				</div>
				<div class="col-4">
					<div class="padded">
						<img src="/images/lookingglass/humptydumpty.jpg">
					</div>
				</div>
				<div class="col-4">
					<div class="padded">
	  				<img src="/images/lookingglass/themessenger.jpg">
					</div>
				</div>
				<div class="col-4">
					<div class="padded">
	  				<img src="/images/lookingglass/battleoftheknights.jpg">
					</div>
				</div>
				<div class="col-4">
					<div class="padded">
	  				<img src="/images/lookingglass/sleepingqueens.jpg">
					</div>
				</div>
				<div class="col-4">
					<div class="padded">
	  				<img src="/images/lookingglass/shakingandwaking.jpg">
					</div>
				</div>
				<div class="col-4">
					<div class="padded">
	  				<img src="/images/lookingglass/thelookingglassworld.jpg">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
	  			<img src="/images/lookingglass/awalkinthegarden.jpg">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
	  			<img src="/images/lookingglass/tweedlesdumanddee.jpg">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
	  			<img src="/images/lookingglass/aliceandthesheep.jpg">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
	  			<img src="/images/lookingglass/allthekingsmen.jpg">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
	  			<img src="/images/lookingglass/cuttingthecake.jpg">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
	  			<img src="/images/lookingglass/aliceearnshercrown.jpg">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
	  			<img src="/images/lookingglass/averyoldfrog.jpg">
				</div>
			</div>
		</div>
	</section>
</div>
