---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<div class="bleed light-grey">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<h1 class="title">Without the White Knight</h1>
						<p class="description">Without the White Knight tells the story of princess whose knights went missing. The women of fairy tales grow old in their towers, forever awaiting the arrival of their princes. The paintings challenge the misguided nature of the fairy tales we tell our young girls, and serve as a warning to those who’d wait to be saved by some prince charming.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gallery">
		<div class="container packery">
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/whiteknight/lightprincess.jpg">
					</div>
				</div>
				<div class="col-6 packed">
					<div class="card padded">
	  				<img src="/images/whiteknight/lilith.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
					<img src="/images/whiteknight/littlemermaid.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
					<img src="/images/whiteknight/snowwhite.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/whiteknight/millersdaughter.jpg">
					</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/whiteknight/peony.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/whiteknight/swanprincess.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/whiteknight/persephone.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/whiteknight/rapunzel.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/whiteknight/sevensisters.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/whiteknight/maidmarian.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
	  			<img src="/images/whiteknight/snowwhiterosered.jpg">
				</div>
			</div>
		</div>
	</section>
</div>
