<% wrap_layout :layout do %>

<div class="hero" style="background: url(<%= current_page.data.hero %>); background-size: cover; width: 100%; height: 400px;";>
</div>

<div class="pale">
  <div class="half">
    <div class="seriestitle">
      <h3><%= current_page.data.title || "An archive of beautiful things" %></h3>
    </div>
  </div>
</div>

<div id="content">
  <div class="pale">
    <%= yield %>
  </div>
</div>

<% end %>