---
title: Paintings and Drawings from 2012
hero: ../images/2012/coscoroba.png
layout: series
navigation: artworks
---

<div class="half">
  <p><span class="dropcap">T</span>hese pieces have no cohesive theme. Each piece is it's own dream-like expression, taken more from my whimsical sketchings than from months of research and inspiration collection. Despite their explorative nature, the pieces were worked simultaneously, and they all fit nicely together as a series.</p>      
  <img src="../images/2012/daisy.jpg">
  <img src="../images/2012/scarlet.jpg">
  <img src="../images/2012/coscoroba.jpg">      
</div>

<div class="half">
  <img src="../images/2012/cephalie.jpg">
  <img src="../images/2012/dayea.jpg">
  <img src="../images/2012/godiva.jpg">
</div>