---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<!-- Introduction -->
		<div class="bleed light-mint">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<p class="extra-large">I create art that tells stories.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="main">
		<!-- Future Present -->
		<div class="bleed dark-violet">
			<div class="half right module" style="background-image: url('/art/images/futurepresent/full_studio.jpg')">
			</div>
			<div class="flex container">
				<div class="left-1 col-4 right-7">
					<div class="module">
						<div class="padded">
							<p class="description">Combining classic art with contemporary themes and technology</p>
							<a href="/art/future-present.html">Future Present</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Allegory of the Cave -->
		<div class="bleed white">
			<div class="half left module" style="background-image: url('/art/images/the-cave/preview.png')">
			</div>
			<div class="flex container">
				<div class="left-7 col-4 right-1">
					<div class="module">
						<div class="padded">
							<p class="description">An alphabetic representation of Plato's allegory of the cave</p>
							<a href="/art/the-cave.html">The Cave</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Short Stories -->
		<div class="bleed light-mint">
			<div class="half right module" style="background-image: url('/art/images/stories/shefellintoballoons.jpg')">
			</div>
			<div class="flex container">
				<div class="left-1 col-4 right-7">
					<div class="module">
						<div class="padded">
							<p class="description">Single-scene stories, captured with paint</p>
							<a href="/art/short-stories.html">Short Stories</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="related-links">
		<div class="flex container">
			<div class="left-1 col-10 right-1">
				<div class="padded">
					<h2 class="small-title extra-bottom">Art</h2>
				</div>
			</div>
			<div class="left-1 col-5">
				<div class="padded">
					<ul class="bottom-links">
						<li><a href="/art/future-present.html">Future Present</a></li>
						<li><a href="/art/the-cave.html">The Cave</a></li>
						<li><a href="/art/short-stories.html">Stories</a></li>
						<li><a href="/art/zookeepers-daughters.html">The Zookeeper's Daughters</a></li>
						<li><a href="/art/midnight-in-the-garden.html">Midnight in the Garden</a></li>
					</ul>
				</div>
			</div>
			<div class="col-5 right-1">
				<ul class="bottom-links">
					<li><a href="/art/through-the-looking-glass.html">Through the Looking Glass</a></li>
					<li><a href="/art/treehouse-club.html">The Treehouse Club</a></li>
					<li><a href="/art/without-the-white-knight.html">Without the White Knight</a></li>
					<li><a href="/art/red-shoes.html">The Tragedy of the Red Shoes</a></li>
					<li><a href="/art/princess-and-the-media.html">The Princess and the Media</a></li>
				</ul>
			</div>
		</section>

</div>
