---
layout: navigation_layout
---

<!-- page content -->
<div id="content">
	
	<!-- Hand Lettering -->
	<div class="bleed" style="background-image: url('/images/design/pattern.jpg')">
		<div class="overlay">
			<div class="flexcontainer preview">
				<div class="col-8">
					<div class="centered padded">
						<h2>Most of my design time goes into The Artificial. Here are a few side projects.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- to [icon] -->
	<div class="flexcontainer preview">
		<div class="col-1 left-2">
			<img src="images/design/toicon_01.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_04.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_07.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_16.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_03.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_12.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_08.png">
		</div>
		<div class="col-1 right-2">
			<img src="images/design/toicon_06.png">
		</div>
		<div class="col-1 left-2">
			<img src="images/design/toicon_10.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_14.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_11.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_02.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_09.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_05.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_15.png">
		</div>
		<div class="col-1 right-2">
			<img src="images/design/toicon_13.png">
		</div>
		<div class="col-1 left-2">
			<img src="images/design/toicon_18.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_23.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_19.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_20.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_21.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_22.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_24.png">
		</div>
		<div class="col-1 right-2">
			<img src="images/design/toicon_17.png">
		</div>
		<div class="col-8">
			<div class="centered padded">
				<p>As an Artificial side project, we created hundreds of icons to hone our skils at pushing pixels and finding the perfect metaphors. I've created five series with over seven hundred icons, and will publish a sixth this autumn.</p>
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="centered">
				<a class="button" href="http://www.toicon.com">to [icon]</a>
			</div>
		</div>
	</div>

	<!-- Hand Lettering -->
	<div class="dark">
		<div class="flexcontainer preview">
			<div class="col-4">
				<img src="images/design/lettering_06.jpg">
			</div>
			<div class="col-4">
				<img src="images/design/lettering_02.jpg">
			</div>
			<div class="col-4">
				<img src="images/design/lettering_04.jpg">
			</div>
			<div class="col-4">
				<img src="images/design/lettering_05.jpg">
			</div>
			<div class="col-4">
				<img src="images/design/lettering_08.jpg">
			</div>
			<div class="col-4">
				<img src="images/design/lettering_03.jpg">
			</div>
			<div class="col-8 left-2 right-2">
				<div class="centered padded">
					<p>Hand lettering combines my love for typography with my love of the handmade. Whether done in ink or with pixels, finding new ways to draw old forms is always a challenge worth accepting.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Forces of Nature -->
	<div class="bleed preview" style="background-image: url('/images/design/full_forcesofnature.jpg')">
		<div class="overlay">
			<div class="flexcontainer preview">
				<div class="col-8 left-2 right-2">
					<div class="centered padded">
						<h2>This two color screen print was one poster of sixteen in the Hello Poster Show: Forces of Nature edition.</h2>
						<a class="button" href="https://www.behance.net/gallery/7807219/Forces-of-Nature">Poster Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Sketch Notes -->
		<div class="flexcontainer preview">
			<div class="col-12">
				<div class="padded">
					<img src="images/design/notes_03.jpg">
				</div>
			</div>
			<div class="col-8 left-2 right-2">
				<div class="centered padded">
					<p>Some people write things down to remember them. This is how I take notes.</p>
				</div>
			</div>
		</div>
	
</section>
