---
layout: navigation_layout
---

<!-- page content -->
<div id="content">
		
	<!-- Future Present -->

	<div class="flexcontainer preview">
		<div class="col-8">
			<div class="centered">
				<h1>on the internet</h1>
			</div>
		</div>
	</div>

	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="card outlink centered" style="background-image: url('/images/elsewhere/dribbble.jpg')">    
  			<a href="https://dribbble.com/shannonethomas">dribbble</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card outlink centered" style="background-image: url('/images/elsewhere/instagram.jpg')">     
  			<a href="https://instagram.com/shannonethomas/">instagram</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card outlink centered" style="background-color: #3D5C98">     
  			<a href="https://www.facebook.com/ShannonEThomasArt">facebook</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card outlink centered" style="background-image: url('/images/elsewhere/behance.jpg')">     
  			<a href="https://www.behance.net/shannonethomas">behance</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card outlink centered" style="background-image: url('/images/elsewhere/flickr.jpg')">     
  			<a href="https://flickr.com/alwaysayingoodbye">flickr</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card outlink centered" style="background-image: url('/images/elsewhere/twitter.jpg')">     
  			<a href="https://twitter.com/shannonethomas">twitter</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card outlink centered" style="background-color: #1178B3">
				<a href="https://nl.linkedin.com/in/shannonethomas">linkedin</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card outlink centered" style="background-image: url('/images/elsewhere/tumblr.jpg')">
				<a href="http://shannonethomas.tumblr.com">tumblr</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card outlink centered" style="background-image: url('/images/elsewhere/pinterest.jpg')">
				<a href="https://www.pinterest.com/shannonethomas/">pinterest</a>
			</div>
		</div>
	</div>
</section>
