---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<!-- Introduction -->
		<div class="bleed light-mint">
			<div class="flex container preview">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<p class="extra-large">Here is everything else.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="related-links">
		<div class="flex container">
			<div class="left-1 col-5">
				<div class="extra-padded">
					<ul class="bottom-links">
						<li><a href="https://medium.com/@shannonethomas">Medium</a></li>
						<li><a href="https://twitter.com/shannonethomas">Twitter</a></li>
						<li><a href="https://nl.linkedin.com/in/shannonethomas">Linkedin</a></li>
						<li><a href="https://www.pinterest.com/shannonethomas/">Pinterest</a></li>
						<li><a href="http://shannonethomas.tumblr.com">Tumblr</a></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="extra-padded">
					<ul class="bottom-links">
						<li><a href="https://dribbble.com/shannonethomas">Dribbble</a></li>
						<li><a href="https://instagram.com/shannonethomas/">Instagram</a></li>
						<li><a href="https://www.facebook.com/ShannonEThomasArt">Facebook</a></li>
						<li><a href="https://www.behance.net/shannonethomas">Behance</a></li>
						<li><a href="https://flickr.com/alwaysayingoodbye">Flickr</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="locations">
		<div class="bleed amsterdam">
		</div>
	</section>

</div>
