---
layout: navigation_layout
---

<!-- page content -->
<div id="content">
		
	<!-- Future Present -->
	<div class="flexcontainer">
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<h1>Things I Like</h1>
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="centered">
				<h3>This list begins with my two favorite creatures in the world.</h3>
			</div>
		</div>
	</div>
	<div class="flexcontainer preview">
		<div class="col-4 left-1 right-1">
			<div class="padded">     
  			<img src="/images/people/hans.jpg">
				<p><a href="http://hans.gerwitz.com">Hans Gerwitz</a> is my partner in life, in business, and so much more.</p>
			</div>
		</div>
		<div class="col-4 left-1 right-1">
			<div class="padded">
				<img src="/images/people/shea.jpg">
				<p>Shea is a tiny pillow thief, but it's worth it because she fills my life with cute.</p>
			</div>
		</div>
	</div>

	<div class="dark">
		<div class="flexcontainer preview">
			<div class="col-8 left-2 right-2">
				<div class="centered">
					<h2>Here are a few of the incredible people who have inspired me.</h2>
				</div>
			</div>
			<div class="col-4 left-1 right-1">
				<div class="padded">
					<p><a href="http://carolliao.com">Carol Liao</a></p>
					<p><a href="http://arianegaroff.com">Ariane Garoff</a></p>
					<p><a href="http://www.guusbaggermans.nl">Guus Baggermans</a></p>
					<p><a href="http://cargocollective.com/SophieMilton">Sophie Milton</a></p>
					<p><a href="http://7two.com">Bruce Yan</a></p>
					<p><a href="http://www.mbredouw.com">Minnie Bredouw</a></p>
				</div>
			</div>
			<div class="col-4 left-1 right-1">
				<div class="padded">
					<p><a href="http://susanapassinhas.com">Susana Passhinas</a></p>
					<p><a href="http://joszczepanska.com">Jo Szczepanska</a></p>
					<p><a href="http://enricamasi.me">Enrica Masi</a></p>
					<p><a href="http://www.jonkmanphoto.com">Nick Jonkman</a></p>
					<p><a href="http://www.changeist.com">Scott Smith</a></p>
					<p><a href="http://julianoliver.com/output/category/projects">Julian Oliver</a></p>
					<p><a href="http://www.datatelling.com">Jen Lowe</a></p>
				</div>
			</div>
		</div>
	</div>

	
</section>
