---
layout: navigation_layout
---

<!-- page content -->
<div id="content">
		
	<!-- Future Present -->
	<div class="flexcontainer">
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<h1>Things I Like</h1>
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="centered">
				<h3>This list begins with my two favorite creatures in the world.</h3>
			</div>
		</div>
	</div>
	<div class="flexcontainer preview">
		<div class="col-4 left-1 right-1">
			<div class="centered">     
  			<img src="/images/etcetera/hans.png">
				<p><a href="http://hans.gerwitz.com">Hans Gerwitz</a> is my partner in life, in business, and so much more.</p>
			</div>
		</div>
		<div class="col-4 left-1 right-1">
			<div class="centered">
				<img src="/images/etcetera/shea.png">
				<p>Shea is a tiny pillow thief, but it's worth it because she fills my life with cute.</p>
			</div>
		</div>
	</div>

	<div class="dark">
		<div class="flexcontainer preview">
			<div class="col-8 left-2 right-2">
				<div class="centered">
					<h4>Here are a few of the incredible people who have inspired me.</h4>
				</div>
			</div>
			<div class="col-4 left-1 right-1">
				<div class="centered">
					<p><a href="http://carolliao.com">Carol Liao</a></p>
					<p><a href="http://arianegaroff.com">Ariane Garoff</a></p>
					<p><a href="http://www.guusbaggermans.nl">Guus Baggermans</a></p>
					<p><a href="http://cargocollective.com/SophieMilton">Sophie Milton</a></p>
					<p><a href="http://www.servicedesigntools.org">Roberta Tassi</a></p>
					<p><a href="http://www.mbredouw.com">Minnie Bredouw</a></p>
				</div>
			</div>
			<div class="col-4 left-1 right-1">
				<div class="centered">
					<p><a href="http://susanapassinhas.com">Susana Passhinas</a></p>
					<p><a href="http://joszczepanska.com">Jo Szczepanska</a></p>
					<p><a href="http://enricamasi.me">Enrica Masi</a></p>
					<p><a href="http://www.jonkmanphoto.com">Nick Jonkman</a></p>
					<p><a href="http://www.changeist.com">Scott Smith</a></p>
					<p><a href="http://julianoliver.com/output/category/projects">Julian Oliver</a></p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="bleed" style="background-image: url('/images/etcetera/amsterdam.jpg')">
		<div class="overlay">
			<div class="flexcontainer preview">
				<div class="col-8 left-2 right-2">
					<div class="centered">
						<a class="button" href="https://foursquare.com/shannonethomas/list/amsterdam">Favorite Amsterdam Spots</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="flexcontainer preview">
		<div class="col-8 left-2 right-2">
			<div class="centered">
				<h4>And now, a few things I couldn't live without.</h4>
			</div>
		</div>
		<div class="col-4 left-1 right-1">
			<div class="centered">
				<p><a href="http://www.theghostlystore.com/collections/behance-action-method/products/behance-dot-grid-book">Dot Grid Book</a></p>
				<p><a href="http://www.goldenpaints.com/products/colors/open">Golden Open Acrylics</a></p>
				<p><a href="http://www.amazon.com/Kindle-Paperwhite-Ereader/dp/B00AWH595M?">Kindle Paperwhite</a></p>
				<p><a href="https://www.polaroidcube.com">Polaroid Cube</a></p>
				<p><a href="http://www2.withings.com/eu/en/products/pulse">Withings Pulse</a></p>
				<p><a href="https://www.urbanears.com/ue_nl_en/headphones/zinken">Urbanears Zinken</a></p>
				<p><a href="http://www.stilacosmetics.com/product/stay+all+day+liquid+lipstick.do">Stila Stay All Day Liquid Lipstick (Fiery)</a></p>
			</div>
		</div>
	</div>
	
</section>
