---
layout: navigation_layout
---

<script type="text/javascript">
  // when the DOM is ready...
  $('document').ready(function(){
    // carousel
    $('#carousel').theArtificialCarousel({
      scrollingSelector: '.scrolling',
      overlaySelector: '.overlay',
      ga: false
    });
  });
</script>

<!-- page content -->
<div id="content">
		
	<!-- Future Present -->
	<div class="bleed">
		<img src="images/futurepresent/full_studio.jpg" alt="studio">
		<div class="flexcontainer preview">
			<div class="col-8">
				<div class="padded">
					<p>my current works in progress, a series inspired by classical paintings with a twist of technology</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<a class="button" href="futurepresent.html">future present</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Stories -->
	<div class="flexcontainer preview">
		<div class="col-4">
			<div class="padded">
				<a href="stories.html"><img src="images/stories/thumb_queen.jpg" alt="She Planned a War"></a>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<a href="stories.html"><img src="images/stories/thumb_balloons.jpg" alt="She Fell into Balloons"></a>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<a href="stories.html"><img src="images/stories/thumb_swan.jpg" alt="She Swam amongst Ducklings"></a>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>Each subject has her own story, and every audience has theirs. This series plays in the intersection of our observations and our assumptions, weaving a story that is both that of the character and the viewer.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<a class="button" href="stories.html">Stories</a>
			</div>
		</div>
	</div>
	
	<!-- 2012 -->
	<div class="bleed preview">
		<img src="images/2012/full_coscoroba.jpg" alt="Coscoroba">
		<div class="flexcontainer preview" style="padding-top: 40px;">
			<div class="col-8">
				<div class="padded">
					<a class="button" href="2012.html">Works from 2012</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- The Zookeeper's Daughters -->
	<div class="flexcontainer preview">
		<div class="col-12">
			<div class="padded">
				<a href="zookeeper.html"><img src="images/zookeeper/thumb_fur.jpg" alt="Fur"></a>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<a class="button" href="zookeeper.html">The Zookeeper's Daughters</a>
			</div>
		</div>
	</div>
	
	<!-- Midnight in the Garden -->
	<div class="bleed dark">
		<div class="flexcontainer preview">		
			<div class="col-4">
				<div class="padded">
					<a href="midnight.html"><img src="images/midnight/thumb_sloth.jpg" alt="Sloth"></a>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<a href="midnight.html"><img src="images/midnight/thumb_vanity.jpg" alt="Vanity"></a>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<a href="midnight.html"><img src="images/midnight/thumb_greed.jpg" alt="Greed"></a>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p>a series of paintings focusing on the dichotomy of good and evil as defined by religion, mythology, and advertising</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<a class="button" href="midnight.html">Midnight in the Garden</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Looking Glass -->
	<div class="bleed preview">
		<img src="images/lookingglass/full_allthekingsmen.jpg" alt="All the King's Men">
		<div class="flexcontainer preview" style="padding-top: 40px;">
			<div class="col-8">
				<div class="padded">
					<a class="button" href="2012.html">Through the Looking Glass</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- The Treehouse Club -->
	<div class="flexcontainer preview">
		<div class="col-4">
			<div class="padded">
				<a href="treehouse.html"><img src="images/treehouse/thumb_stepmother.jpg" alt="Stepmother"></a>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<a href="treehouse.html"><img src="images/treehouse/thumb_bopeep.jpg" alt="Bo Peep"></a>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<a href="treehouse.html"><img src="images/treehouse/thumb_geisha.jpg" alt="Geisha"></a>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<a class="button" href="treehouse.html">The Treehouse Club</a>
			</div>
		</div>
	</div>
	
	<!-- Without the White Knight -->
	<div class="bleed dark">
		<div class="flexcontainer preview">		
			<div class="col-12">
				<div class="padded">
					<a href="whiteknight.html"><img src="images/whiteknight/thumb_snowwhite.jpg" alt="Snow White"></a>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p>Where would our favorite faerie tale princess be if their knights had never come to save them?</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<a class="button" href="whiteknight.html">Without the White Knight</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- The Tragedy of the Red Shoes -->
	<div class="bleed preview">
		<img src="images/redshoes/full_gallery.jpg" alt="All the King's Men">
		<div class="flexcontainer preview" style="padding-top: 40px;">
			<div class="col-8">
				<div class="padded">
					<a class="button" href="redshoes.html">The Tragedy of the Red Shoes</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- The Princess and the Media -->
	<div class="flexcontainer preview">
		<div class="col-4">
			<div class="padded">
				<a href="princess.html"><img src="images/princess/thumb_clevertemptress.jpg" alt="The Clever Temptress"></a>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<a href="princess.html"><img src="images/princess/thumb_unassumingbather.jpg" alt="The Unassuming Bather"></a>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<a href="princess.html"><img src="images/princess/thumb_tragiclover.jpg" alt="The Tragic Lover"></a>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<a class="button" href="princess.html">The Princess and the Media</a>
			</div>
		</div>
	</div>t
	
	
</section>
