---
layout: navigation_layout
---

<script type="text/javascript">
  // when the DOM is ready...
  $('document').ready(function(){
    // carousel
    $('#carousel').theArtificialCarousel({
      scrollingSelector: '.scrolling',
      overlaySelector: '.overlay',
      ga: false
    });
  });
</script>

<!-- page content -->
<div id="content">
		
	<!-- Future Present -->
	<div class="bleed"><img src="images/futurepresent/full_studio.jpg" alt="studio">
		<div class="flexcontainer preview" style="padding-top: 40px;">
			<div class="col-8">
				<div class="padded">
					<p>my current works in progress, a series inspired by classical paintings with a twist of technology</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<a class="button" href="futurepresent.html">future present</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Stories -->
	<div class="flexcontainer preview" style="padding-top: 60px;">
		<div class="col-4">
			<div class="padded">
				<img src="images/stories/thumb_queen.jpg" alt="She Planned a War">
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/stories/thumb_balloons.jpg" alt="She Fell into Balloons">
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/stories/thumb_swan.jpg" alt="She Swam amongst Ducklings">
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>Each subject has her own story, and every audience has theirs. This series plays in the intersection of our observations and our assumptions, weaving a story that is both that of the character and the viewer.</p>
			</div>
		</div>
	</div>
	
	<!-- 2012 -->
	<div class="bleed preview"><img src="images/2012/full_coscoroba.jpg" alt="Coscoroba">
		<div class="flexcontainer" style="padding-top: 40px;">
			<div class="col-8">
				<div class="padded">
					<p>Works from 2012</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- The Zookeeper's Daughters -->
	<div class="flexcontainer preview" style="padding-top: 60px;">
		<div class="col-12">
			<div class="padded">
				<img src="images/zookeeper/thumb_fur.jpg" alt="Fur">
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>The Zookeeper's Daughters</p>
			</div>
		</div>
	</div>
	
</section>
