---
layout: site_layout
---
<% content_for :head_content do %>
	<!-- IndieWeb -->
	<link rel="authorization_endpoint" href="https://indieauth.com/auth">
	<link rel="token_endpoint" href="https://tokens.indieauth.com/token">

	<link rel="micropub" href="http://micropub.gerwitz.com/micropub/shannon">
<% end %>

<!-- page content -->
<div id="content">

	<!-- main content -->
	<nav id="header-home">
		<div class="flexcontainer">
			<div id="index-nav" class="col-12">
				<div class="padded">
					<p class="intro">Hello there.</p>
					<p class="intro">I create <a class="link-art" href="painting.html">artworks</a> that tell stories. I enjoy <a class="link-writing" href="writing.html">writing</a>, and am currently working on a book about experience design. I have a lot of <a class="link-opinions" href="opinions.html">opinions</a>.</p>
					<p class="intro">In 2013, I founded <a class="link-artificial" href="http://www.theartificial.nl">The Artificial</a>, a boutique UX design agency in Amsterdam.</p>
				</div>
			</div>
		</div>
	</nav>

</section>
