---
layout: multiple_layout
---

<script type="text/javascript">
  // when the DOM is ready...
  $('document').ready(function(){
    // carousel
    $('#carousel').theArtificialCarousel({
      scrollingSelector: '.scrolling',
      overlaySelector: '.overlay',
      ga: false
    });
  });
</script>

<!-- page content -->
<div id="content">
		
	<!-- work in progress -->
		
	<div class="bleed"><img src="images/possiblefutures/carbonswan.jpg" alt="carbon swan">
		<div class="flexcontainer" style="padding-top: 40px;">
			<div class="col-8 right-4">
				<div class="padded">
					<h2>Work in progress</h2>
					<p>My current work explores possible futures as science fiction content mixes with classical painting.</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- framework overview -->
	<div class="flexcontainer" style="padding-top: 60px;">
		<div class="col-12">
			<div class="padded">
				<h2>Basic scss with layers for cusomization.</h2>
			</div>
		</div>
		<div class="col-3">
			<div class="padded">
				<h4>framework</h4>
				<p>The Artificial framework has three basic stylesheets, pulled in by framework.scss. These stylesheets, starting with the "artificial" prefix, specify the basic structure of the framework. These files should never be manipulated, and styles should be modified using .scss files with the "site" prefix.</p>
			</div>
		</div>
		<div class="col-3">
			<div class="padded">
				<h4>grid</h4>
				<p>The Artificial Framework makes use of a twelve-column grid with breaking points for mobile and tablet. On mobile, the grid is a single fluid column; on tablet a 720px grid of 60px columns; and on desktop a 960px grid of 80px columns.</p>
			</div>
		</div>
		<div class="col-3">
			<div class="padded">
				<h4>colors</h4>
				<p>The entire Artificial color palette is contained in artificial-colors.scss. Each base hue also has a pale, dark, and darkest value. There are nine specified gradations of both warm and cool grey.</p>
			</div>
		</div>
		<div class="col-3">
			<div class="padded">
				<h4>base</h4>
				<p>Base specifies the basics of an Artificial site's header, optional sub-header, and footer. Styles for artificial-base are contained in site-base, and should be edited to fit your site. </p>
			</div>
		</div>
	</div>
	
	
	<!-- end reference -->
	
</section>
