---
layout: site_layout
---
<% content_for :head_content do %>
  	<!-- distributed identity -->
	<link href="https://micro.blog/shannonethomas" rel="me">
	<link href="https://twitter.com/shannonethomas" rel="me">
	<link href="https://github.com/shannonethomas" rel="me">

	<!-- IndieWeb -->
	<link rel="authorization_endpoint" href="https://indieauth.com/auth">
	<link rel="token_endpoint" href="https://tokens.indieauth.com/token">

	<link href="https://sitewriter.net/shannonethomas.com/micropub" rel="micropub">

<% content_for :head_content do %>

  <!-- IndieWeb -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

<% end %>


<% end %>

<!-- page content -->
<div id="content">
	<!-- main content -->
	<section id="home-nav">
		<div class="bleed darkest-violet">
			<div class="flex container extra-top">
				<div class="col-6">
					<div class="padded">
						<p class="top-links name">Shannon E. Thomas</p>
					</div>
				</div>
				<div class="col-6">
					<div class="padded">
						<ul class="top-links">
							<li><a href="art.html">Art</a></li>
							<li><a href="writing.html">Writing</a></li>
							<li><a href="thoughts.html">Thoughts</a></li>
							<li><a href="etcetera.html">Etcetera</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="site-intro">
		<div class="bleed darkest-violet">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<p class="intro">Hello there.</p>
						<p class="intro">I create <a class="link-art" href="art.html">art</a> that tells stories. I enjoy <a class="link-writing" href="writing.html">writing</a>, and am currently working on a book about experience design. I have a lot of <a class="link-thought" href="thoughts.html">thoughts</a>.</p>
						<p class="intro">In 2013, I founded <a class="link-artificial" href="http://www.theartificial.nl">The Artificial</a>, a boutique UX design agency in Amsterdam.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="related-links">
		<div class="flex container">
			<div class="col-3">
				<div class="extra-padded">
					<h2 class="small-title extra-bottom">Art</h2>
					<ul class="bottom-links">
						<li><a href="/art/future-present.html">Future Present</a></li>
						<li><a href="/art/the-cave.html">The Cave</a></li>
						<li><a href="/art/short-stories.html">Stories</a></li>
						<li><a href="/art/zookeepers-daughters.html">The Zookeeper's Daughters</a></li>
						<li><a href="/art/midnight-in-the-garden.html">Midnight in the Garden</a></li>
						<li><a href="/art/through-the-looking-glass.html">Through the Looking Glass</a></li>
						<li><a href="/art/treehouse-club.html">The Treehouse Club</a></li>
						<li><a href="/art/without-the-white-knight.html">Without the White Knight</a></li>
						<li><a href="/art/red-shoes.html">The Tragedy of the Red Shoes</a></li>
						<li><a href="/art/princess-and-the-media.html">The Princess and the Media</a></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="extra-padded">
					<h2 class="small-title extra-bottom">Writing</h2>
					<ul class="bottom-links">
						<li><a href="https://medium.com/the-artificial/the-apple-watch-is-a-beautiful-and-powerful-piece-of-hardware-accompanied-by-incredibly-useful-2327fde0cbf3">Reimagining WatchOS</a></li>
						<li><a href="https://medium.com/the-artificial/join-the-conversational-interface-e93b727c8b9c">Join the Conversational Interface</a></li>
						<li><a href="https://medium.com/the-artificial/designing-a-conceptual-model-14ac21b93a22">Designing a Conceptual Model</a></li>
					</ul>
				</div>
			</div>
			<div class="col-6">
				<div class="extra-padded">
					<h2 class="small-title extra-bottom">Thoughts</h2>
					<ol class="thoughts-list">
					<% blog('thoughts').articles[0...5].each_with_index do |thought, i| %>
						<% next if thought.body.empty? %>
						<li>
						<div class="thought">
							<div class="content">
							<%= thought.body %>
							</div>
							<div class="meta">
							<% link_to thought do %>
								&mdash;&nbsp;<%= thought.date.strftime('%B %e, %Y, %k:%M') %>
							<% end %>
							</div>
						</div>
						</li>
						<% end %>
					</ol>
				</div>
			</div>
		</div>
	</section>
</div>
