---
layout: site_layout
---

<!-- page content -->
<div id="content">
	
	<!-- main content -->	
	<nav id="header-home">
		<div class="flexcontainer">
			<div id="index-nav" class="col-12">
				<div class="padded">
					<h2>Hello, I’m Shannon E. Thomas.<br/>
					I love to <a href="painting.html">paint and draw</a>, and I don’t go anywhere without my <a href="sketches.html">sketchbook</a>. I am obsessed with <a href="design.html">design</a>. In 2013, I founded <a href="http://www.theartificial.nl">The Artificial</a>, a boutique UX design agency in Amsterdam. I like a lot of <a href="etcetera.html">other things</a> too! Want to see more? I’m all over <a href="elsewhere.html">the internet</a>.</h2>
				</div>
			</div>
		</div>
	</nav>
	
	<!-- Future Present -->
	<div class="bleed" style="background-image: url('/images/futurepresent/full_studio.jpg')">
		<div class="overlay">
			<div class="flexcontainer preview">
				<div class="col-8">
					<div class="centered">
						<p>my current works in progress, a series inspired by classical paintings with a twist of technology</p>
					</div>
				</div>
				<div class="col-8 left-2 right-2">
					<div class="centered">
						<a class="button" href="futurepresent.html">Future Present</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- to [icon] -->
	<div class="flexcontainer preview">
		<div class="col-1 left-2">
			<img src="images/design/toicon_01.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_04.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_07.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_16.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_03.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_12.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_08.png">
		</div>
		<div class="col-1 right-2">
			<img src="images/design/toicon_06.png">
		</div>
		<div class="col-1 left-2">
			<img src="images/design/toicon_10.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_14.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_11.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_02.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_09.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_05.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_15.png">
		</div>
		<div class="col-1 right-2">
			<img src="images/design/toicon_13.png">
		</div>
		<div class="col-1 left-2">
			<img src="images/design/toicon_18.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_23.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_19.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_20.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_21.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_22.png">
		</div>
		<div class="col-1">
			<img src="images/design/toicon_24.png">
		</div>
		<div class="col-1 right-2">
			<img src="images/design/toicon_17.png">
		</div>
		<div class="col-8">
			<div class="centered">
				<p>As an Artificial side project, we created hundreds of icons to hone our skils at pushing pixels and finding the perfect metaphors. I've created five series with over seven hundred icons, and will publish a sixth this autumn.</p>
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="centered">
				<a class="button" href="http://www.toicon.com">to [icon]</a>
			</div>
		</div>
	</div>
	
	<!-- Midnight in the Garden -->
	<div class="dark">
		<div class="flexcontainer preview">		
			<div class="col-4">
				<div class="padded">
					<a href="midnight.html"><img src="images/midnight/thumb_sloth.jpg" alt="Sloth"></a>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<a href="midnight.html"><img src="images/midnight/thumb_vanity.jpg" alt="Vanity"></a>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<a href="midnight.html"><img src="images/midnight/thumb_greed.jpg" alt="Greed"></a>
				</div>
			</div>
			<div class="col-8">
				<div class="padded centered">
					<p>a series of paintings focusing on the dichotomy of good and evil as defined by religion, mythology, and advertising</p>
				</div>
			</div>
			<div class="col-8 left-2 right-2">
				<div class="centered">
					<a class="button" href="midnight.html">Midnight in the Garden</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 2012 -->
	<div class="bleed preview" style="background-image: url('/images/2012/full_coscoroba.jpg')">
		<div class="overlay">
			<div class="flexcontainer preview">
				<div class="col-8 left-2 right-2">
					<div class="centered">
						<a class="button" href="2012.html">Works from 2012</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Sketches -->	
	<div class="flexcontainer preview">		
		<div class="col-4">
			<div class="padded">
				<a href="sketches.html"><img src="images/sketchbook/thumb_01.jpg" alt="sketches"></a>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<a href="sketches.html"><img src="images/sketchbook/thumb_03.jpg" alt="sketches"></a>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<a href="sketches.html"><img src="images/sketchbook/thumb_02.jpg" alt="sketches"></a>
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="centered">
				<a class="button" href="sketches.html">Look at my Sketchbook</a>
			</div>
		</div>
	</div>

	
</section>
