---
title: Midnight in the Garden
hero: ../images/midnight/sloth.jpg
layout: series
navigation: artworks
---

<div class="half">
  <p><span class="dropcap">T</span>The ‘midnight in the garden’ series is twelve paintings, seventeen figures, and countless patterns. the paintings focus on the dichotomy of good and evil as defined by religion, mythology and contemporary faerie tales. while defined primarily by the seven deadly sins and their countering heavenly virtues, symbols of the saints, biblical references, and allusions to the debaucherous dionysus reinforce the subjects in their representation of either good or evil. as with all of my works, i expect the audience to do more than absorb the image. i hope for a connection where the viewer cannot help but feel compassion for the vilified and skepticism of the exalted, for as clearly as mythology has defined our notions of good and evil, rarely do we perceive things so simply. </p>      
  <img src="../images/midnight/envy.jpg">
  <img src="../images/midnight/generosity.jpg">
  <img src="../images/midnight/gluttony.jpg"> 
  <img src="../images/midnight/sloth.jpg">  
  <img src="../images/midnight/lust.jpg">  
  <img src="../images/midnight/wrath.jpg">     
</div>

<div class="half">
  <img src="../images/midnight/piety.jpg">
  <img src="../images/midnight/purity.jpg">
  <img src="../images/midnight/greed.jpg">
  <img src="../images/midnight/temperance.jpg">
  <img src="../images/midnight/vanity.jpg">
  <img src="../images/midnight/patience.jpg">
</div>