---
layout: navigation_layout
---

<!-- page content -->
<div id="content">
		
	<!-- Future Present -->
	<div class="flexcontainer preview">
		<div class="col-8">
			<div class="padded">
				<h1>People</h1>
				<h3>“You are the average of the five people you spend the most time with.”</h3>
				<p>Jim Rohn</p>
			</div>
		</div>
	</div>

	<div class="flexcontainer">
		<div class="col-4 left-1 right-1">
			<div class="padded">     
  			<img src="/images/people/hans.jpg">
				<p><a href="http://hans.gerwitz.com">Hans Gerwitz</a> is my partner in life and in business.</p>
				</div>
			</div>
			<div class="col-4 left-1 right-1">
				<div class="padded">
  				<img src="/images/people/shea.jpg">
					<p>Shea fills my life with cute.</p>
				</div>
			</div>
		</div>
		
		<div class="dark">
			<div class="flexcontainer">
				<div class="col-4 left-1 right-1">
					<div class="padded">
						<p><a href="http://carolliao.com">Carol Liao</a></p>
						<p><a href="http://arianegaroff.com">Ariane Garoff</a></p>
						<p><a href="http://www.guusbaggermans.nl">Guus Baggermans</a></p>
						<p><a href="http://cargocollective.com/SophieMilton">Sophie Milton</a></p>
						<p><a href="http://7two.com">Bruce Yan</a></p>
						<p><a href="http://www.mbredouw.com">Minnie Bredouw</a></p>
					</div>
				</div>
				<div class="col-4 left-1 right-1">
					<div class="padded">
						<p><a href="http://susanapassinhas.com">Susana Passhinas</a></p>
						<p><a href="http://joszczepanska.com">Jo Szczepanska</a></p>
						<p><a href="http://enricamasi.me">Enrica Masi</a></p>
						<p><a href="http://www.jonkmanphoto.com">Nick Jonkman</a></p>
						<p><a href="http://www.changeist.com">Scott Smith</a></p>
						<p><a href="http://julianoliver.com/output/category/projects">Julian Oliver</a></p>
						<p><a href="http://www.datatelling.com">Jen Lowe</a></p>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	
	
</section>
