---
title: The Princess and the Media
hero: ../images/princess/eternalsleeper.jpg
layout: series
navigation: artworks
---

<div class="half">
  <p><span class="dropcap">M</span>y B.F.A. thesis show, the princess and the media featured fourteen paintings with accompanying poems. The series was the first of many to explore the relationships between traditional and contemporary myth, with characters from biblical, Shakespearean, or folk-lorean legends, placed in contemporary clothing with contemporary props in contemporary settings.</p>      
  <img src="../images/princess/clevertemptress.jpg">
  <img src="../images/princess/fearlessdaredevil.jpg">
  <img src="../images/princess/beautifulinsomniac.jpg">
  <img src="../images/princess/redridinghood.jpg">  
  <img src="../images/princess/unassumingbather.jpg"> 
  <img src="../images/princess/waitingwoman.jpg">    
</div>

<div class="half">
  <img src="../images/princess/bluefaerie.jpg">
  <img src="../images/princess/eternalsleeper.jpg">
  <img src="../images/princess/mischievousbride.jpg">
  <img src="../images/princess/ragdollprincess.jpg">
  <img src="../images/princess/tragiclover.jpg">
</div>