---
layout: navigation_layout
---

<!-- page content -->
<div id="content">
	<div class="flexcontainer">
		<div class="col-8">
			<div class="centered description">
				<h1>The Tragedy of the Red Shoes</h1>
				<p>Seven large-scale drawings illustrate Hans Christian Anderson’s fairy tale, ‘The Red Shoes’. Each drawing focuses on the emotional state of the young girl, as she goes from wanting to having to losing her free will for the red shoes she so desires.</p> 
			</div>
		</div>
	</div>
	<div class="container packery">
		<div class="col-6 packed">
			<div class="card padded">     
  			<img src="/images/redshoes/acquisition.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
  				<img src="/images/redshoes/infatuation.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="card padded"> 
				<img src="/images/redshoes/agony.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="card padded">
				<img src="/images/redshoes/desire.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="card padded">
  			<img src="/images/redshoes/admiration.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="card padded">
  			<img src="/images/redshoes/suffering.jpg">
			</div>
		</div>
		<div class="col-6 packed">
			<div class="card padded">
  			<img src="/images/redshoes/surrender.jpg">
			</div>
		</div>
	</div>
</div>