---
title: Tragedy of the Red Shoes
hero: ../images/redshoes/admiration.jpg
layout: series
navigation: artworks
---

<div class="half">
  <p><span class="dropcap">S</span>even large-scale drawings illustrate Hans Christian Anderson’s fairy tale, ‘The Red Shoes’. Each drawing focuses on the emotional state of the young girl, as she goes from wanting to having to losing her free will for the red shoes she so desires.</p>      
  <img src="../images/redshoes/acquisition.jpg">
  <img src="../images/redshoes/infatuation.jpg">
  <img src="../images/redshoes/agony.jpg">     
</div>

<div class="half">
  <img src="../images/redshoes/desire.jpg">
  <img src="../images/redshoes/admiration.jpg">
  <img src="../images/redshoes/suffering.jpg">
  <img src="../images/redshoes/surrender.jpg">
</div>