---
layout: side_layout
---

<script>

$(document).ready(function() {

  $('.parallax').artificialParallax();

});

</script>



<!-- page content -->
<section id="content">

	<!-- all of this for reference only -->
	<div class="parallax">
    <img class="parallax-background" src="http://lorempixel.com/g/600/300/abstract/">
		<div class="parallax-foreground flexcontainer" style="height:200px;">
      <div class="col-3" style="margin-top:60px;">
				<div class="padded">
        <a href="index.html"><img src="images/logo_framework.png"></a>
				</div>
			</div>
		</div>
	</div>

	<div id="one" class="flexcontainer" data-menu-offset="-75">
		<div class="col-6">
			<div class="padded">
                <div class="parallax" style="height:448px;">
                   <img class="parallax-background" src="images/sample/img_square01.jpg">
                </div>
				<h2>Humidity snail deserunt mollit giraffe in Arduino rabbit washi tape.</h2>
				<p>Dot grid icon-a-palooza morning meeting beautiful flashback friday chai mocha electric insect tennis. Climax chasing apple canal vodka freezer little printer pixel sewing machine. Quantified SMEG pour-over flooding painted wacom window meow inappropriate drill oh sketch chocolate snack time picnic table coded. Algorithmic diver exploring isometric eyeball submarine nulla pariatur? Nutella cream ice gazelle mask illum sweet cube glue fail. Spellchecker no! Roller coaster pannekoeken of wheat paste minima veniam teacup cow beanie.</p>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/sample/img_square02.jpg">
				<h2>Balls bounce meow aliquot whimsy sharpie. Future of Post-its un sticky.</h2>
				<p>Ouch! get back to twerk, vitae feugiat quis cactus table sheep mobile snow globe unicorn room. Prototypical cheese. Mint, turqoise, tulip, steel, maybe copper. Peanut butter and jelly dinosaur siracha stroopwafel. What does the fox say. Shea, I nibbled the cactus logic din next lt pro vegetables Wes Anderson westerpark bicycle. Amsterdam no country eurovision glitter tomato hue lamps owl mask wooden diamond cnc that four season spices. Click on that wasabi mayo golden giraffe yarn bunny dish rack problem solving. 3D print that reality. Chocolate go pills.</p>
			</div>
		</div>
	</div>
	<div id="two" class="flexcontainer" data-menu-offset="-75">
		<div class="col-3">
			<div class="padded">
				<h3>Amet unicorn prance cactus lover pointing at things tofu. Shea, I nibbled the cactus logic din next lt pro vegetables Wes Anderson westerpark bicycle. Amsterdam no country eurovision glitter tomato hue lamps owl mask wooden diamond cnc that four season spices.</h3>
			</div>
		</div>
		<div class="col-3">
			<div class="padded">
				<img src="images/sample/img_square03.jpg">
				<p>Algorithmic diver exploring isometric eyeball submarine nulla pariatur? Nutella cream ice gazelle mask illum sweet cube glue fail. Spellchecker no! Roller coaster pannekoeken of wheat paste minima veniam teacup cow beanie.</p>
			</div>
		</div>
		<div class="col-3">
			<div class="padded">
				<img src="images/sample/img_rectangle01.jpg">
				<img src="images/sample/img_rectangle02.jpg">
				<img src="images/sample/img_rectangle03.jpg">
			</div>
		</div>
		<div class="col-3">
			<div class="padded">
				<img src="images/sample/img.jpg">
				<h3>Lack of bikes and a heinous hangover. Dutch strawberries whoops binding pixels. Tiny kings and giant numbers.</h3>
			</div>
		</div>
	</div>
	
	<!-- three equal columns -->
	<div id="three" class="flexcontainer" data-menu-offset="-75">
		<div class="col-4">
			<div class="padded">
				<img src="images/sample/img_rectangle01.jpg">
				<h3>Black forest chocolate cake on a sunny day. So lekker. Beaches and sun for days.</h3>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/sample/img_rectangle02.jpg">
				<h3>Drinking games a la mode. Aesthetically proper, it’s so typically you. </h3>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/sample/img_rectangle03.jpg">
				<h3>Lack of bikes and a heinous hangover. Dutch strawberries whoops binding pixels. Tiny kings and giant numbers.</h3>
			</div>
		</div>
	</div>
	
	
	<div id="four" class="flexcontainer" data-menu-offset="-75">
		<div class="col-4">
			<div class="padded">
				<img src="images/sample/img_square02.jpg">
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>Artificial ipsum dolor sit. Amet unicorn prance cactus lover pointing at things tofu. Balls bounce meow aliquot whimsy sharpie. Future of Post-its un sticky. Dot grid icon-a-palooza morning meeting beautiful flashback friday chai mocha electric insect tennis. Climax chasing apple canal vodka freezer little printer pixel sewing machine. Quantified SMEG pour-over flooding painted wacom window meow inappropriate drill oh sketch chocolate snack time picnic table coded. Ouch! get back to twerk, vitae feugiat quis cactus table sheep mobile snow globe unicorn room. Prototypical cheese. Mint, turqoise, tulip, steel, maybe copper. Peanut butter and jelly dinosaur siracha stroopwafel. What does the fox say. Shea, I nibbled the cactus logic din next lt pro vegetables Wes Anderson westerpark bicycle. Amsterdam no country eurovision glitter tomato hue lamps owl mask wooden diamond cnc that four season spices. Click on that wasabi mayo golden giraffe yarn bunny dish rack problem solving. 3D print that reality. Chocolate go pills.</p>
			</div>
		</div>
	</div>	
	<!-- end reference -->
		
</section>
