---
layout: single_layout
---

<%
    def get_nav_svg(name)
      path = "images/ic_#{name}.svg"
      if resource = sitemap.find_resource_by_path(path)
        file = File.open(resource.source_file, 'r')
        return file.read
      else
        return '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 32 32" xml:space="preserve"><rect x="0" y="0" height="32" width="32" rx="6" ry="6" fill="#19150D"></rect></svg>'
      end
    end
%>

<!-- page content -->
<section id="content">
		
	<!-- all of this for reference only -->
	<div class="bleed" style="background-color: #B6E4DC; padding-bottom: 80px;">
		<div id="signin" class="flexcontainer" data-menu-offset="-75">
			<div class="col-12">
				<div class="padded">
					<h2>sign in example</h2>
				</div>
			</div>
			<div class="col-4 push-4">
				<div class="padded">
					<div class="field signin">
						<input type="email" placeholder="email"></input>
					</div>
				</div>
				<div class="padded">
					<div class="field signin">
						<input type="password" placeholder="password"></input>
					</div>
				</div>
				<div class="padded">
					<input type="submit" value="sign in" class="button primary"></input>
				</div>
			</div>
		</div>
	</div>
	
	<div id="form" class="flexcontainer" data-menu-offset="-75">
		<div class="col-12">
			<div class="padded">
				<h2>form example</h2>
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<div class="field">
					<input type="email" placeholder="email"></input>
				</div>
			</div>
			<div class="padded">
				<div class="field">
					<input type="tel" placeholder="telephone number"></input>
				</div>
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<div class="radio">
					<label>
						<input type="radio" name="gender" value="human">
						I am a human
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="gender" value="robot">
						I am a robot
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="gender" value="other">
						I am something else entirely
					</label>
				</div>
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<div class="field">
					<input type="text" placeholder="address"></input>
				</div>
			</div>
		</div>
		<div class="col-4 left-2">
			<div class="padded">
				<div class="field">
					<input type="text" placeholder="city"></input>
				</div>
			</div>
		</div>
		<div class="col-4 right-2">
			<div class="padded">
				<div class="field">
					<input type="text" placeholder="zipcode"></input>
				</div>
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<div class="field">
					<textarea name="note"></textarea>
				</div>
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<div class="check">
					<label>
						<input type="checkbox" name="toc" value="true" checked>
						I agree to give up all of my information and privacy to use this form
					</label>
				</div>
			</div>
		</div>
		
		<div class="col-12 left-2 right-2">
			<div class="padded">	
				<select class="selection" title="tool of choice">
			    	<option value="" disabled selected>Tool of choice</option>
						<option value="pen">Pen</option>
				    <option value="pencil">Pencil</option>
				    <option value="crayon">Crayon</option>
				    <option value="paint">Paint</option>
				    <option value="charcoal">Charcoal</option>
				    <option value="chalk">Chalk</option>
				</select>
			</div>
		</div>
		
		<div class="col-4 left-2">
			<div class="padded">
				<input type="button" value="cancel" class="button secondary"></input>
			</div>
		</div>
		<div class="col-4 right-2">
			<div class="padded">
				<input type="submit" value="submit" class="button primary"></input>
			</div>
		</div>
	</div>
		
	<div id="navtricks" class="flexcontainer" data-menu-offset="-75">
		<div class="col-12">
			<div class="padded">
				<h2>navigation: dropdown and search</h2>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<div class="dropdown-menu">
					<ul>
			  		<li><a href="#">big cats</a>
				  		<ul>
				    		<li><a href="#">lion</a></li>
								<li><a href="#">tiger</a></li>
								<li><a href="#">leopard</a></li>
								<li><a href="#">ocelot</a></li>
								<li><a href="#">cheetah</a></li>
								<li><a href="#">cougar</a></li>
				   	 </ul>
			  		</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<div class="search">
					<input type="search" placeholder="search">
					<label class="button primary">
						<input type="submit" value="search">
						<%= get_nav_svg('search') %>
					</label>
				</div>
			</div>
		</div>
	</div>
	
	<div id="filter" class="flexcontainer" data-menu-offset="-75">
		<div class="col-12">
			<div class="padded">
				<h2>filter example</h2>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<select class="selection filter" title="animals">
						<option value="all">All</option>
				    <option value="land">Land</option>
				    <option value="sea">Sea</option>
				    <option value="air">Air</option>
				</select>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<select class="selection filter" title="colors">
						<option value="all">All</option>
				    <option value="blue">Blue</option>
				    <option value="orange">Orange</option>
				    <option value="pink">Pink</option>
						<option value="tuxedo">Tuxedo</option>
				</select>
			</div>
		</div>
	</div>	
	<div id="animal-list" class="flexcontainer">
		<div class="col-3">
			<div class="padded land orange"><img src="images/sample/img_lion.png"></div>
		</div>
		<div class="col-3">
			<div class="padded land tuxedo"><img src="images/sample/img_penguin.png"></div>
		</div>
		<div class="col-3">
			<div class="padded air pink"><img src="images/sample/img_flamingo.png"></div>
		</div>
		<div class="col-3">
			<div class="padded land blue"><img src="images/sample/img_elephant.png"></div>
		</div>
		<div class="col-3">
			<div class="padded land pink"><img src="images/sample/img_rabbit.png"></div>
		</div>
		<div class="col-3">
			<div class="padded sea blue"><img src="images/sample/img_whale.png"></div>
		</div>
		<div class="col-3">
			<div class="padded air blue"><img src="images/sample/img_peacock.png"></div>
		</div>
		<div class="col-3">
			<div class="padded sea blue"><img src="images/sample/img_fish.png"></div>
		</div>
	</div>
	
	<!-- end reference -->
		
</section>
