---
layout: navigation_layout
---

<!-- page content -->
<div id="content">
		
	<!-- Future Present -->
	<div class="bleed">
		<img src="images/sketchbook/full_sketchbook.jpg" alt="sketchbook">
		<div class="flexcontainer preview">
			<div class="col-8">
				<div class="padded">
					<h1>Sketchbook</h1>
					<p>Despite my best efforts, the best ideas rarely visit me when I’m in the studio. So I carry a sketchbook everywhere so I never forget an idea. Some of these sketches were also for The Sketchbook Project – the ever-growing largest collection of sketchbooks.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-6 packed">
			<div class="card">     
  			<img src="/images/sketchbook/01.jpg">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="card">
  				<img src="/images/sketchbook/02.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="card"> 
				<img src="/images/sketchbook/03.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
				<img src="/images/sketchbook/04.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/05.jpg">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/06.jpg">
			</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/07.jpg">
			</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/08.jpg">
			</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/09.jpg">
			</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/10.jpg">
			</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/11.jpg">
			</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/12.jpg">
			</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/13.jpg">
			</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/14.jpg">
			</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/15.jpg">
			</div>
		</div>
		<div class="col-6 packed">
			<div class="card">
  			<img src="/images/sketchbook/16.jpg">
			</div>
		</div>
	</div>
	
	
</section>
