---
title: An archive of beautiful things by Shannon E. Thomas  
layout: index
navigation: sketches
---

<div class="series">
  <a href="sketchbook.html"><h1>Sketchbook Selections</h1></a>    
  <a href="sketchbook.html"><img src="../images/thumb/sketchbook_01.jpg"></a>        
  <a href="sketchbook.html"><img src="../images/thumb/sketchbook_02.jpg"></a>      
  <a href="sketchbook.html"><img src="../images/thumb/sketchbook_03.jpg"></a>      
  <a href="sketchbook.html"><img src="../images/thumb/sketchbook_04.jpg"></a>    
</div>

<div class="series">
  <a href="greathopes.html"><h1>Great Hopes and Massive Failures</h1></a>   
  <a href="greathopes.html"><img src="../images/thumb/greathopes_01.jpg"></a>    
  <a href="greathopes.html"><img src="../images/thumb/greathopes_02.jpg"></a>    
  <a href="greathopes.html"><img src="../images/thumb/greathopes_03.jpg"></a>    
  <a href="greathopes.html"><img src="../images/thumb/greathopes_04.jpg"></a>      
</div>

<div class="series">
  <a href="everyone.html"><h1>Everyone We Know</h1></a>   
  <a href="everyone.html"><img src="../images/thumb/everyone_01.jpg"></a>   
  <a href="everyone.html"><img src="../images/thumb/everyone_02.jpg"></a>   
  <a href="everyone.html"><img src="../images/thumb/everyone_03.jpg"></a>   
  <a href="everyone.html"><img src="../images/thumb/everyone_04.jpg"></a> 
</div>