---
layout: navigation_layout
---

<!-- page content -->
<div id="content">
		
	<!-- Future Present -->
	<div class="bleed" style="background-image: url('/images/sketchbook/full_sketchbook.jpg')">
		<div class="overlay">
			<div class="flexcontainer preview">
				<div class="col-8">
					<div class="centered">
						<h1>Sketchbook</h1>
						<h2>I always carry a sketchbook so that I never forget an idea. Some of these sketches were also for <a href="https://www.sketchbookproject.com">The Sketchbook Project</a> – the ever-growing collection of touring sketchbooks.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="card">     
  			<img src="/images/sketchbook/01.jpg">
				</div>
			</div>
			<div class="col-4 packed">
				<div class="card">
  				<img src="/images/sketchbook/02.jpg">
				</div>
		</div>
		<div class="col-4 packed">
			<div class="card"> 
				<img src="/images/sketchbook/03.jpg">
				</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
				<img src="/images/sketchbook/04.jpg">
				</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/05.jpg">
				</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/06.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/07.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/08.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/09.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/10.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/11.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/12.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/13.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/14.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/15.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/16.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/17.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/18.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/19.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/20.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/21.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/22.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/23.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/24.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/25.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/26.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/27.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/28.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/29.jpg">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="card">
  			<img src="/images/sketchbook/30.jpg">
			</div>
		</div>
	</div>
	
	
</section>
