---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<!-- Introduction -->
		<div class="bleed light-mint">
			<div class="flex container preview">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<p class="extra-large">I have a lot of thoughts</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="main">
	</section>
</div>
