---
title: The Treehouse Club
hero: ../images/treehouse/bopeep.jpg
layout: series
navigation: artworks
---

<div class="half">
  <p><span class="dropcap">T</span>he Treehouse Club is a series of less-than-admirable female characters. Goldilocks stole and trespassed while little Bo Peep was falling asleep on the job. The Queen of Hearts was a fan of decapitation and the Little Mermaid’s sea witch, Ursula, only knows unfair deals.</p>      
  <img src="../images/treehouse/geisha.jpg">
  <img src="../images/treehouse/medusa.jpg">
  <img src="../images/treehouse/ursula.jpg"> 
  <img src="../images/treehouse/stepsisterandrapunzel.jpg"> 
  <img src="../images/treehouse/babayaga.jpg">  
  <img src="../images/treehouse/holofernes.jpg"> 
</div>

<div class="half">
  <img src="../images/treehouse/stepmother.jpg">
  <img src="../images/treehouse/goldilocks.jpg">
  <img src="../images/treehouse/caterpillar.jpg">
  <img src="../images/treehouse/bopeep.jpg">
  <img src="../images/treehouse/queenhearts.jpg">
  <img src="../images/treehouse/jezebelandivy.jpg">
</div>