---
layout: navigation_layout
---

<!-- page content -->
<div id="content">

	<section id="intro">
		<!-- Introduction -->
		<div class="bleed light-mint">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded">
						<p class="extra-large">I enjoy writing about design.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="main">
		<!-- Conversational Interface -->
		<div class="bleed darkest-mint">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded module">
						<p class="description">For the past six months, The Artificial has been designing an app for a product that doesn’t already exist on the market, and that likely won’t be ready for consumers for another year or two. The product itself is understandably super secret, but the story is interesting even if you don’t know the details of the main character.</p>
						<a href="https://medium.com/the-artificial/join-the-conversational-interface-e93b727c8b9c">Join the Conversational Interface</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Reimagining WatchOS -->
		<div class="bleed white">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded module">
						<p class="description">The Apple Watch is a beautiful and powerful piece of hardware accompanied by incredibly useful software. Now running software on its third iteration, it’s time to make the beauty of the software match that of the hardware.</p>
						<a href="https://medium.com/the-artificial/the-apple-watch-is-a-beautiful-and-powerful-piece-of-hardware-accompanied-by-incredibly-useful-2327fde0cbf3">Reimagining WatchOS</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Reimagining WatchOS -->
		<div class="bleed violet">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded module">
						<p class="description">Designers love systems. We love creating architectures to organize features, wireframes to provide access to functionality, and flows to provide a sense of navigation. We create guidelines and principles to ensure consistency across screens, platforms, and versions. We document transitions, we inventory the competition, and we define our audience.</p>
						<a href="https://medium.com/the-artificial/designing-a-conceptual-model-14ac21b93a22">Designing a Conceptual Model</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
