---
layout: navigation_layout
---

<!-- page content -->
<div id="content">
	<div class="flexcontainer">
		<div class="col-8">
			<div class="centered description">
				<h1>The Zookeeper's Daughters</h1>
				<p>These paintings take a look at the dark origins of our stuff. Like the girls in the paintings, we all too often choose to play ignorant, rather than facing the horrible truth that surrounds us. We all have our coping mechanisms, our rose coloured glasses and blinders, our denial carefully stowed where reason cannot find it. We read charlotte’s web, and wake up the next morning for a plate of bacon. We cherish our own culture’s children, but shop at stores that take advantage of child labour in other countries. We visit national parks, and comment on the beauty of nature, and then get back in our SUVs to drive home to the suburbs.</p> 
			</div>
		</div>
	</div>

	<div class="container packery">
		<div class="col-6 packed">
			<div class="card padded">     
  			<img src="/images/zookeeper/head.png">
				</div>
			</div>
			<div class="col-6 packed">
				<div class="card padded">
  				<img src="/images/zookeeper/eyes.png">
				</div>
		</div>
		<div class="col-6 packed">
			<div class="card padded"> 
				<img src="/images/zookeeper/fur.png">
				</div>
		</div>
	</div>
</div>